.sign-up-container {
    clear: both;
    display: inline-block;
    float: left;
    font-size: 0;
    width: 100%;
}

.sign-up-container .block-container, .block-container-2, .block-container-3 {
    float: left;
    font-size: 0;
    height: auto;
    position: relative;
    width: 100%;
}

.sign-up-container .banner {
    background: none repeat scroll 0 0 #fafafa;
    position: relative;
    width: 100%;
    z-index: 9999;
}

.sign-up-container .Category-banner {
    min-width: 960px;
    width: 100%;
}

.sign-up-container .img-responsive {
    width: 100%;
    height: auto;
}

.sign-up-container .bottom-divider {
    border-bottom: 1px solid #999;
    margin: 50px 3.90625% 0;
    clear: both;
    float: left;
    width: 92.1875%;
}

.sign-up-container .banner-text {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 80px 77px !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.sign-up-container .learn-more {
    border-bottom: 1px solid hsl(345, 100%, 40%);
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font: 11px/19px gothambook;
    margin: 55px 0 0 !important;
    padding: 0 0 3px;
    text-align: center;
}

.sign-up-container .instructor {
    float: left;
    padding-left: 0;
    position: relative;
    width: 65.1875%;
}

.sign-up-container .smogi-para p {
    font-family: ITCAvantGardeProBk;
    font-size: 22px;
    line-height: 30px;
    color: #555555;
    text-align: left;
}

.sign-up-container .custom-radio {
    cursor: pointer;
    height: 17px;
    opacity: 0;
    vertical-align: text-bottom;
    width: 22px;
}

.sign-up-container .smogi-para {
    box-sizing: border-box;
    padding: 10% 0 10% 10%;
    width: 100%;
}
.gender-box label.gender{font-size:18px  ;}

.sign-up-container .information {
    background: #eeeeee;
    position: absolute;
    right: 0;
    padding-top: 4.9%;
    box-sizing: border-box;
    height: 100%;
    top: 0;
    width: 34.8125%;
}

.sign-up-container .top-heading span {
    color: hsl(0, 0%, 33%);
    font-family: ITCAvantGardeProBk;
    font-size: 28px;
    line-height: 39px;
    padding-left: 4px;

}

.sign-up-container .top-heading {
    padding-left: 10%;
    text-align: left;
}

.sign-up-container .sign-up-blocks {
    width: 100%;
}

.sign-up-container .content-inside {
    padding: 0 10%;
}

.sign-up-container input[type="text"], .sign-up-container input[type="email"], .sign-up-container input[type="number"], .sign-up-container input[type="date"], .sign-up-container input.input-text, .sign-up-container input[type="password"] {

    background: none repeat scroll 0 0 hsl(0, 0%, 100%);
    border: medium none !important;
    box-sizing: border-box;
    color: hsl(0, 0%, 20%);
    display: block;
    font-size: 13px;
    line-height: normal;
    padding: 5%;
    text-transform: none;
    width: 100%;
    font-family: AvantGardeGothicITCW01B;
}

.sign-up-container .content-inside .list1 li {
    margin: 15px 0;
    list-style: none;
}

.sign-up-container .content-inside li .btn {
    background: #545454;
    border: 1px solid #666;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: gotham-b, arial;
    font-size: 13px;
    font-weight: normal;
    height: 50px;
    letter-spacing: 0.05em;
    line-height: 1;
    font-family: ITCAvantGardeProBk;
    margin: 17px 0;
    padding: 10px 30px;
    text-decoration: none;
    width: 100%;
}

.sign-up-container .list1 .top-heading {
    padding-left: 0;
}

.sign-up-container .list1 .top-heading span {
    display: inline-block;
    margin-top: 41px;
}

.sign-up-container .txt-area {
    width: 100%;
    height: 230px;
    border: none;
    resize: none;
    font-size: 13px;
    color: #333;
    padding: 5%;
    font-family: AvantGardeGothicITCW01B;
    box-sizing: border-box;
}

.sign-up-container .gender-box label, .radio-right {
    color: #333;
    float: left;
    font-size: 13px;
    padding: 2px 0;
    text-transform: uppercase;
    font-family: AvantGardeGothicITCW01B !important;
    width: 100%;
}

.sign-up-container .gender-box {
    clear: both;
    float: left;
    padding: 0 3px;
    text-align: left;
    width: 100%;
}

.sign-up-container .radio-right div span {
    padding-left: 15%;
}

.sign-up-container .radio-right div {
    float: left;
    width: 50%;
    position: relative;
}

.sign-up-container .radio-right div label {
    background: none repeat scroll 0 0 hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 17px;
    height: 13px;
    left: 0;
    position: absolute;
    width: 13px;
    padding: 0;
    margin-top:0;
}

.sign-up-container .list-box {
    float: left;

    position: relative;
    width: 33.33%;
}

.sign-up-container .list-box p {
    bottom: 25px;
    color: hsl(0, 0%, 100%);
    font-family: ITCAvantGardeProBk;
    font-size: 21px;
    left: 0;
    line-height: 25px;
    margin-bottom: 25px;
    right: 0;
    text-align: -moz-center;
    text-transform: uppercase;
}

.list-box.hotel.first {
    padding: 9.9% 0;
}

.sign-up-container .list-box span {
    display: inline-block;
    height: auto;
    margin: 27px 0;
    width: 57%;
}

.sign-up-container .lb1-text {
    color: hsl(0, 0%, 33%);
    font-family: ITCAvantGardeProBk;
    font-size: 25px;
    line-height: 29px;
}

.sign-up-container .lucky-smogi {
    float: left;
    width: 100%;
    background: none repeat scroll 0 0 hsl(0, 0%, 93%);
}

.sign-up-container .lucky-smogi .list-box:first-child .lb1-text b {
    font-family: ITCAvantGardeProMd;

}

.sign-up-container .lucky-smogi .list-box:first-child {
    background: none repeat scroll 0 0 #eeeeee;
    float: left;
    padding: 14% 0;

}

.sign-up-container .bgff6b08 {
    background: #ff6b08;
}

.sign-up-container .bgfb7dc4 {
    background: #fb7dc4;
}

.sign-up-container .bgb1093c {
    background: #b1093c;
}

.sign-up-container .bg8139ee {
    background: #8139ee;
}

.sign-up-container .bg1bbcf8 {
    background: #1bbcf8;
}

.sign-up-container .bottom-info li {
    color: hsl(0, 0%, 33%);
    font-family: GraphikRegular;
    font-size: 14.39px;
    line-height: 17px;

}

.sign-up-container .bottom-info li span {
    font-weight: bold;
}

.sign-up-container .bottom-info li:first-child {
    list-style: outside none none;
    margin-left: -13px;
    margin-bottom: 27px;
}

.sign-up-container .bottom-info {
    box-sizing: border-box;
    float: left;
    padding: 55px 53px;
    width: 100%;
}


.sign-up-container .lucky-smogi .list-box:first-child .lb1-text {
    color: #555;
    left: 0;
    padding: 30% 17%;
    position: absolute;
    right: 0;
    top: 0;
}
.sign-up-container .bottom-info ul {
    text-align: left;
    float: left;
    width: 100%;
    list-style-type:disc;
}

.sign-up-container .radio-right div label.current {
    background: hsl(0, 0%, 33%) !important;
}

.sign-up-container .banner-text .over-banner {
    left: 0;
    position: absolute;
    right: 0;
    top: 46%;
}


.sign-up-container span.btn {
    color: #fff !important;
    padding: 18px 0 30px 0 !important;
    display: block;
    height: 0 !important;
}

::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

.thankew-container{
    clear: both;
    display: inline-block;
    float: left;
    font-size: 0;
    width: 100%;
}
.thankew-container .thanks-banner{
    background:#e3fffe;
    border: 0 none;
    margin: 0;
    position: relative;

}
.thanks{background:#e3fffe}
.thankew-container .thanks-banner .avant_demi_bold {
    font: 40px/43px AvantGardeGothicITCW01D;
}
.thankew-container .thanks-banner .over-banner{
    right: 0px; top: 60%; left: 0px; position: absolute;
}
.thankew-container .thanks-banner  .visit{
    display: block!important;
    margin: 80px 0!important;
    padding-right: 10px!important;
}
.thankew-container .thanks-banner  .img-responsive{width:100%;
    height:auto;
}

.thankew-container .thanks-banner .over-banner ul{
    float: left;
    width: 100%;
}
.thankew-container .thanks-banner  .over-banner li{
    display:inline-block;
    margin:0 5px;
    padding-right:10px;
}
.sign-up-container .validation-advice{ background:none; text-align:left;}
.sign-up-container .validation-failed{ background:#fff!important;}

.sign-up-container .banner_text_nominate{
    font-family: itcavantgardeprobk; font-size: 25px;
    line-height: 33px;
    color: rgb(255, 255, 255);
    margin-top: 3% ! important;
}
.gender-box .gender{
    font:18px AvantGardeGothicITCW01B;
}
.sign-up-container  .radio-right{padding-top:12px}

.avant_extra_light{
    color: rgb(251, 208, 8);
    font-size: 19px;
    line-height: 21px;
    font-family: AvantGardeGothicITCW01B;
}
.sign-up-container .avant_demi_bold {
    color:#fff;
    font-size: 38px;
    line-height: 33px;
    font-family: AvantGardeGothicITCW01D;
}
.sign-up-container .top-heading span {
    font-size: 17px;
    line-height: 24px;

}

@media screen and (max-width: 1004px) {
    .sign-up-container .smogi-para p ,.sign-up-container .banner_text_nominate{
        font-size: 17px;
        line-height: 22px;
    }
    .sign-up-container .gender-box label, .radio-right,.gender-box .gender{
        /*font-size: 17px;*/
    }
    /*.sign-up-container .radio-right div label{*/
    /*width: 17px;*/
    /*height: 17px;*/
    /*}*/
    .sign-up-container .top-heading span {
        font-size: 17px;
        line-height: 24px;

    }
    .sign-up-container .lb1-text {
        font-size: 26px;
        line-height: 29px;
    }
    .avant_extra_light {
        font-size: 19px;
        line-height: 21px;
    }
    .sign-up-container .avant_demi_bold {
        color:#fff;
        font-size: 36px;
        line-height: 32px;
    }
    .sign-up-container .list-box p {
        font-size: 12px;
        line-height: 14px;
    }
    .sign-up-container .txt-area {
        height:200px;
        padding: 3%;
    }
    .sign-up-container input[type="text"], .sign-up-container input[type="email"], .sign-up-container input[type="number"], .sign-up-container input[type="date"], .sign-up-container input.input-text, .sign-up-container input[type="password"]{
        padding: 3%;
        font-size: 13px;
    }
}

@media screen and (min-width: 1004px) and (max-width:1200px) {
    .sign-up-container .smogi-para p ,.sign-up-container .banner_text_nominate{
        font-size: 18px;
        line-height: 23px;
    }

    .sign-up-container .top-heading span {
        font-size: 18px;
        line-height: 24px;

    }
    /*.sign-up-container .radio-right div label{*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*}*/
    .sign-up-container .gender-box label, .radio-right,.gender-box .gender{
        /*font-size: 18px;*/
    }
    .avant_extra_light {
        font-size: 20px;
        line-height: 23px;
    }
    .sign-up-container .lb1-text {
        font-size: 26px;
        line-height: 29px;
    }
    .sign-up-container .avant_demi_bold {
        color:#fff;
        font-size: 39px;
        line-height: 34px;
    }
    .sign-up-container .list-box p {
        font-size: 14px;
        line-height: 17px;
    }

    .sign-up-container .txt-area {
        height:210px;
        padding: 3%;
        /*font-size: 14px;*/
        /*line-height: 16px;*/
    }
    .sign-up-container input[type="text"], .sign-up-container input[type="email"], .sign-up-container input[type="number"], .sign-up-container input[type="date"], .sign-up-container input.input-text, .sign-up-container input[type="password"]{
        padding: 3%;
        /*font-size: 14px;*/
    }

}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .sign-up-container .smogi-para p ,.sign-up-container .banner_text_nominate{
        font-size: 23px;
        line-height: 30px;
    }
    .sign-up-container .top-heading span {
        font-size: 23px;
        line-height: 32px;

    }
    /*.sign-up-container .radio-right div label{*/
    /*width: 23px;*/
    /*height: 23px;*/
    /*}*/
    .sign-up-container .gender-box label, .radio-right{
        /*font-size: 23px;*/
    }
    .avant_extra_light {
        font-size: 26px;
        line-height: 29px;
    }
    .sign-up-container .lb1-text {
        font-size: 29px;
        line-height: 32px;
    }
    .sign-up-container .avant_demi_bold {
        color:#fff;
        font-size: 49px;
        line-height: 43px;
    }
    .sign-up-container .list-box p {
        font-size: 16px;
        line-height: 19px;
    }


    .sign-up-container .txt-area {
        height:218px;
        padding: 4%;
        /*font-size: 18px;*/
        /*line-height: 21px;*/
    }
    .sign-up-container input[type="text"], .sign-up-container input[type="email"], .sign-up-container input[type="number"], .sign-up-container input[type="date"], .sign-up-container input.input-text, .sign-up-container input[type="password"]{
        padding: 4%;
        /*font-size: 18px;*/
    }
    .gender-box .gender,.sign-up-container .gender-box label, .radio-right{
        /*font-size: 23px;*/
    }

}

@media screen and (min-width: 1401px) and (max-width: 1599px) {
    .sign-up-container .smogi-para p,.sign-up-container .banner_text_nominate {
        font-size: 28px;
        line-height: 36px;
    }

    .sign-up-container .gender-box label, .radio-right, .gender-box .gender{
        /*font-size: 28px;*/
    }
    /*.sign-up-container .radio-right div label{*/
    /*width: 28px;*/
    /*height: 28px;*/
    /*}*/
    .sign-up-container .top-heading span {
        font-size: 28px;
        line-height: 39px;
    }
    .avant_extra_light {
        font-size: 32px;
        line-height: 35px;
    }
    .sign-up-container .list-box p {
        font-size: 19px;
        line-height: 23px;
    }
    .sign-up-container .avant_demi_bold {
        color:#fff;
        font-size: 60px;
        line-height: 53px;
    }
    .sign-up-container .txt-area {
        height: 176px;
    }

    .sign-up-container .lb1-text {
        font-size: 34px;
        line-height: 38px;
    }

    .sign-up-container .txt-area {
        height:225px;
        padding: 4%;
        /*font-size: 23px;*/
        /*line-height: 25px;*/
    }
    .sign-up-container input[type="text"], .sign-up-container input[type="email"], .sign-up-container input[type="number"], .sign-up-container input[type="date"], .sign-up-container input.input-text, .sign-up-container input[type="password"]{
        padding: 4%;
        /*font-size: 23px;*/
    }


}

@media screen and (min-width: 1600px) {
    .sign-up-container .smogi-para p,.sign-up-container .banner_text_nominate {
        font-size: 29px;
        line-height: 40px;
    }

    .sign-up-container .gender-box label, .radio-right, .gender-box .gender{
        /*font-size: 29px ;*/
    }
    /*.sign-up-container .radio-right div label{*/
    /*width: 29px;*/
    /*height: 29px;*/
    /*}*/
    .sign-up-container .top-heading span {
        font-size: 29px;
        line-height: 40px;
    }
    .avant_extra_light {
        font-size: 36px;
        line-height: 41px;
    }
    .sign-up-container .lb1-text {
        font-size: 38px;
        line-height: 40px;
    }
    .sign-up-container .avant_demi_bold {
        color:#fff;
        font-size: 68px;
        line-height: 60px;
    }
    .sign-up-container .list-box p {
        font-size: 22px;
        line-height: 26px;
    }

    .sign-up-container .txt-area {
        height:234px;
        padding: 5%;
        /*font-size: 25px;*/
        /*line-height: 28px;*/
    }
    .sign-up-container input[type="text"], .sign-up-container input[type="email"], .sign-up-container input[type="number"], .sign-up-container input[type="date"], .sign-up-container input.input-text, .sign-up-container input[type="password"]{
        padding: 5%;
        /*font-size: 25px;*/
    }


}

