<?xml version="1.0" encoding="UTF-8"?>
<config>
<modules>
  <Smogi_Distributionfrontend>
    <version>0.0.1</version>
  </Smogi_Distributionfrontend>
</modules>
<frontend>
  <routers>
    <checkout><!-- Name of core module to be overridden  -->
      <args>
        <modules>
          <Smogi_Distributionfrontend before="Mage_Checkout">Smogi_Distributionfrontend</Smogi_Distributionfrontend>
        </modules>
      </args>
    </checkout>
  </routers>
</frontend>
</config>