<?xml version="1.0"?>
<!-- 
/**
 * @Package   Ysindia
 * @Module    Ysindia_Vivacity
 */
 -->
<config>
    <modules>
        <Ysindia_Vivacity>
            <version>0.1.0</version>
        </Ysindia_Vivacity>
    </modules>
    <frontend>
        <routers>
            <vivacity>
                <use>standard</use>
                <args>
                    <module>Ysindia_Vivacity</module>
                    <frontName>vivacity</frontName>
                </args>
            </vivacity>
        </routers>
        <layout>
            <updates>
                <vivacity>
                    <file>vivacity.xml</file>
                </vivacity>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<vivacity>
				<use>admin</use>
				<args>
					<module>Ysindia_Vivacity</module>
					<frontName>vivacity</frontName>
				</args>
			</vivacity>
        </routers>
    </admin>
    <adminhtml>
		<menu>
            <nominateinstructor>
                    <children>
                        <vivacity module="vivacity">
                            <title>Vivacity Promotion</title>
                            <sort_order>1</sort_order>
                            <action>vivacity/adminhtml_vivacity</action>
                        </vivacity>
                    </children>
            </nominateinstructor>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<nominateinstructor>
							<title>Vivacity Promotion</title>
							<sort_order>10</sort_order>
						</nominateinstructor>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vivacity>
					<file>vivacity.xml</file>
				</vivacity>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <vivacity>
                <class>Ysindia_Vivacity_Model</class>
                <resourceModel>vivacity_mysql4</resourceModel>
            </vivacity>
            <vivacity_mysql4>
                <class>Ysindia_Vivacity_Model_Mysql4</class>
                <entities>
                    <vivacity>
                        <table>vivacity</table>
                    </vivacity>
                </entities>
            </vivacity_mysql4>
        </models>
        <resources>
            <vivacity_setup>
                <setup>
                    <module>Ysindia_Vivacity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vivacity_setup>
            <vivacity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vivacity_write>
            <vivacity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vivacity_read>
        </resources>
        <blocks>
            <vivacity>
                <class>Ysindia_Vivacity_Block</class>
            </vivacity>
        </blocks>
        <helpers>
            <vivacity>
                <class>Ysindia_Vivacity_Helper</class>
            </vivacity>
        </helpers>
    </global>
</config>