@font-face {
font-family:'GraphikRegular';
src:url(../fonts/Graphik-Regular.eot) format("embedded-opentype");
src:url(../fonts/Graphik-Regular.svg) format("svg");
src:url(../fonts/Graphik-Regular.ttf) format("truetype");
src:url(../fonts/Graphik-Regular.woff) format("woff");
font-weight:400;
font-style:normal
}

@font-face {
font-family:'GraphikMedium';
src:url(../fonts/Graphik-Medium.eot) format("embedded-opentype");
src:url(../fonts/Graphik-Medium.svg) format("svg");
src:url(../fonts/Graphik-Medium.ttf) format("truetype");
src:url(../fonts/Graphik-Medium.woff) format("woff");
font-weight:400;
font-style:normal
}

@font-face {
font-family:'Graphik-Semibold';
src:url(../fonts/Graphik-Semibold.eot) format("embedded-opentype");
src:url(../fonts/Graphik-Semibold.svg) format("svg");
src:url(../fonts/Graphik-Semibold.ttf) format("truetype");
src:url(../fonts/Graphik-Semibold.woff) format("woff");
font-weight:400;
font-style:normal
}

@font-face {
font-family:ITCAvantGardeStd-Bk;
src:url(../fonts/ITCAvantGardeStd-Bk.ttf) format("truetype");
src:url(../fonts/ITCAvantGardeStd-Bk.eot?#iefix) format("embedded-opentype"),url(../fonts/ITCAvantGardeStd-Bk.ttf) format("truetype"),url(../fonts/ITCAvantGardeStd-Bk.svg#75d377f2-28ee-43f8-b231-44f8eba218c4) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:ITCAvantGardeStd-Md;
src:url(../fonts/ITCAvantGardeStd-Md.ttf) format("truetype");
src:url(../fonts/ITCAvantGardeStd-Md.eot) format("embedded-opentype"),url(../fonts/ITCAvantGardeStd-Md.ttf) format("truetype"),url(../fonts/ITCAvantGardeStd-Md.svg) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:ITCAvantGardeStd-XLt;
src:url(../fonts/ITCAvantGardeStd-XLt.ttf) format("truetype");
src:url(../fonts/ITCAvantGardeStd-XLt.eot) format("embedded-opentype"),url(../fonts/ITCAvantGardeStd-XLt.ttf) format("truetype"),url(../fonts/ITCAvantGardeStd-XLt.svg) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:Gotham-Medium;
src:url(../fonts/Gotham-Medium.ttf) format("truetype");
src:url(../fonts/Gotham-Medium.eot) format("embedded-opentype"),url(../fonts/Gotham-Medium.ttf) format("truetype"),url(../fonts/Gotham-Medium.svg) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:Gotham-BookItalic;
src:url(../fonts/Gotham-BookItalic.ttf) format("truetype");
src:url(../fonts/Gotham-BookItalic.eot) format("embedded-opentype"),url(../fonts/Gotham-BookItalic.ttf) format("truetype"),url(../fonts/Gotham-BookItalic.svg) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:Gotham-Book;
src:url(../fonts/Gotham-Book.ttf) format("truetype");
src:url(../fonts/Gotham-Book.eot?#iefix) format("embedded-opentype"),url(../fonts/Gotham-Book.ttf) format("truetype"),url(../fonts/Gotham-Book.svg#Gotham-Book) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:Gotham-Bold;
src:url(../fonts/Gotham-Bold.ttf) format("truetype");
src:url(../fonts/Gotham-Bold.eot) format("embedded-opentype"),url(../fonts/Gotham-Bold.ttf) format("truetype"),url(../fonts/Gotham-Bold.svg) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:gothambook;
src:url(../fonts/gothambook.ttf) format("truetype");
src:url(../fonts/gothambook.eot?#iefix) format("embedded-opentype"),url(../fonts/gothambook.ttf) format("truetype"),url(../fonts/gothambook.svg#Gotham-Book) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:gothamMedium;
src:url(../fonts/Gotham-Medium.ttf) format("truetype");
src:url(../fonts/Gotham-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Gotham-Medium.ttf) format("truetype"),url(../fonts/Gotham-Medium.svg#Gotham-Medium) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:gothambold;
src:url(../fonts/gothambold.ttf) format("truetype");
src:url(../fonts/gothambold.eot?#iefix) format("embedded-opentype"),url(../fonts/gothambold.ttf) format("truetype"),url(../fonts/gothambold.svg) format("svg");
font-weight:400;
font-style:normal
}

@font-face {
font-family:gothamlight;
src:url(../fonts/Gotham-Light.ttf) format("truetype");
src:url(../fonts/Gotham-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Gotham-Light.ttf) format("truetype"),url(../fonts/Gotham-Light.svg#Gotham-Light) format("svg");
font-weight:400;
font-style:normal
}

@font-face{
font-family:"AvantGardeGothicITCW01D";
src:url("../fonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix");
src:url("../fonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix") format("eot"),url("../fonts/c18aee57-7585-4a8b-9a1c-69d226301d73.woff") format("woff"),url("../fonts/44ccbb2b-0fbc-4d95-b1da-0aa73bd26fb0.ttf") format("truetype"),url("../fonts/f2de529c-11d2-43b7-be7c-05c5aaeaf133.svg#f2de529c-11d2-43b7-be7c-05c5aaeaf133") format("svg");
}