<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:20px; line-height:1; text-align:center;">
<!-- [ header starts here] -->
<table cellspacing="0" cellpadding="0" border="0" width="600" style="margin:0px auto;">
<tr>
    <td align="center" valign="top">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600" style="background:#fff; border:20px solid #fff;">
            <tr>
                <td valign="top" align="center" style="padding-bottom:50px;"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin:0px;" border="0"/></a></td>
            </tr>
			
			
			
			
<!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:0 0 15px;">
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px; text-transform:uppercase;">Dear {{htmlescape var=$customer.name}},</p>
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px;">Welcome to {{var store.getFrontendName()}}. To log in when visiting our site just click <a href="{{store url="customer/account/"}}" style="text-decoration:none; color:#d90d3d;">Login</a> or <a href="{{store url="customer/account/"}}" style="text-decoration:none; color:#d90d3d;">My Account</a> at the top of every page, and then enter your e-mail address and password.</p>
				</td>
			</tr>
			<tr>
				<td>
					<h2 style="color:#000; line-height:1.5; margin:0 0 30px; display:block; border-bottom:1px solid #000; font-size:12px; text-transform:uppercase;">Your Account</h2>
				
							
                            <p style="font-size:12px; color:#666; line-height:16px; margin:0 0 20px;">When you log in to your account, you will be able to do the following:</p>
                            <ul style="font-size:12px; line-height:22px; color:#666; margin:0 0 50px; padding:0;">
                                <li style="list-style:none inside;">&ndash; Proceed through checkout faster when making a purchase</li>
                                <li style="list-style:none inside;">&ndash; Check the status of orders</li>
                                <li style="list-style:none inside;">&ndash; View past orders</li>
                                <li style="list-style:none inside;">&ndash; Make changes to your account information</li>
                                <li style="list-style:none inside;">&ndash; Change your password</li>
                                <li style="list-style:none inside;">&ndash; Store alternative addresses (for shipping to multiple family members and friends!)</li>
                                <li style="list-style:none inside;">– Check your SMOGI Bucks balance</li>
                            </ul>
							<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px;">-Your friends at YOGASMOGA</p>
                        </td>
                    </tr>
<!-- [ middle ends here] -->

		</table>
	</td>
</tr>
					
					
<tr>
	<td valign="top" style="font-size:12px; padding:20px 0 20px; border-top:1px solid #f2f2f2;">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="64%" align="left">
					<p  style="font-size:12px; margin:0;"><span style="color:#666; font-size:12px; margin:15px 0;">If you have any comments or questions, please email us any time at <br>
						<a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#d90d3d; text-decoration:none;">{{config path='trans_email/ident_support/email'}}</a>.</span></p>
				</td>
				<td style="text-align:right;">
					<a href="http://www.twitter.com/YOGASMOGA"><img src="{{skin url='images/i-twitter.png' _area='frontend' _package='yogasmoga-theme'}}" height="20" width="20" style="border:0" /></a>
					<a href="http://www.pinterest.com/YOGASMOGA" style="margin-left:20px;"><img src="{{skin url='images/i-pin.png' _area='frontend' _package='yogasmoga-theme'}}" height="20" width="20" style="border:0" /></a>
					<a href="http://www.facebook.com/YOGASMOGA" style="margin-left:20px;"><img src="{{skin url='images/i-facebook.png' _area='frontend' _package='yogasmoga-theme'}}" height="20" width="20" style="border:0" /></a>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>
</div>
</body>