<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:20px; line-height:1; text-align:center;">
<!-- [ header starts here] -->
<table cellspacing="0" cellpadding="0" border="0" width="600" style="margin:0px auto;">
<tr>
    <td align="center" valign="top">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600" style="background:#fff; border:20px solid #fff;">
            <tr>
                <td valign="top" align="center" style="padding-bottom:50px;"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin:0px;" border="0"/></a></td>
            </tr>
			
			
			
			
<!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:0 0 15px;">
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px; text-transform:uppercase;">Dear {{htmlescape var=$customer.name}},</p>
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 5px;">Your e-mail {{var customer.email}} must be confirmed before using it to log in to our store.</p>
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px;">To confirm the e-mail and instantly log in, please, use <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="text-decoration:none; color:#d90d3d;"><strong>this confirmation link</strong></a>. This link is valid only once.</p>
					</td>
				</tr>
				
			<tr>
				<td style="padding:0 0 20px;">
					<h2 style="color:#000; line-height:1.5; margin:0 0 30px; display:block; border-bottom:1px solid #000; font-size:12px; text-transform:uppercase;">Login information</h2>
					<p style="color:#666; font-size:12px; line-height:20px; margin:0 0 20px;">Use the following values when prompted to log in:<br/><strong style="padding-left:30px;">E-mail</strong>: {{var customer.email}}<br/><strong style="padding-left:30px;">Password</strong>: {{htmlescape var=$customer.password}}</p>
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px;">&nbsp;</p>
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px;">-Your friends at YOGASMOGA</p>
				</td>
			</tr>
<!-- [ middle ends here] -->

		</table>
	</td>
</tr>
					
					
<tr>
	<td valign="top" style="font-size:12px; padding:20px 0 20px; border-top:1px solid #f2f2f2;">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="64%" align="left">
					<p  style="font-size:12px; margin:0;"><span style="color:#666; font-size:12px; margin:15px 0;">If you have any comments or questions, please email us any time at <br>
						<a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#d90d3d; text-decoration:none;">{{config path='trans_email/ident_support/email'}}</a>.</span></p>
				</td>
				<td style="text-align:right;">
					<a href="http://www.twitter.com/YOGASMOGA"><img src="{{skin url='images/i-twitter.png' _area='frontend' _package='yogasmoga'}}" height="20" width="20" style="border:0" /></a>
					<a href="http://www.pinterest.com/YOGASMOGA" style="margin-left:20px;"><img src="{{skin url='images/i-pin.png' _area='frontend' _package='yogasmoga'}}" height="20" width="20" style="border:0" /></a>
					<a href="http://www.facebook.com/YOGASMOGA" style="margin-left:20px;"><img src="{{skin url='images/i-facebook.png' _area='frontend' _package='yogasmoga'}}" height="20" width="20" style="border:0" /></a>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>
</div>
</body>