<!--@subject {{var store.getFrontendName()}} Gift Card@-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:20px; line-height:1; text-align:center;">
<!-- [ header starts here] -->
<table cellspacing="0" cellpadding="0" border="0" width="600" style="margin:0px auto;">
<tr>
    <td align="center" valign="top">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600" style="background:#fff; border:20px solid #fff;">
            <tr>
                <td valign="top" align="center" style="padding-bottom:50px;"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin:0px;" border="0"/></a></td>
            </tr>
			
			
			
			
<!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:0 0 15px;">
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px; text-transform:uppercase;">Hello {{depend data.email-to}}, {{var data.email-to}}{{/depend}}!,</p>
					<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px;">Your {{var store.getFrontendName()}} Gift Card is available to print. To print the Gift Card go to this page: <a href="{{var data.link}}" style="text-decoration:none; color:#f30f44;">{{var data.link}}</a></p>
				</td>
            </tr>
			<tr>
				<td align="center" style="text-align: center;">
					<center><img src="{{var data.picture}}" /></center>
				</td>
			</tr>
			<tr>
				<td style="font-size:20px; line-height:30px; padding:0 0 60px;">
					{{depend data.email-message}}<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 10px; padding:0 0 60px;" >{{var data.email-message}} <strong>-{{var data.email-from}}</strong></p>{{/depend}}
				<p style="border-top:1px solid #000; color:#666; font-size:12px; line-height:22px; text-transform:uppercase;">
				{{depend data.email-to}}<strong>to:</strong> {{var data.email-to}}<br />{{/depend}}
                                        {{depend data.email-from}}<strong>from:</strong> {{var data.email-from}}<br />{{/depend}}					gift card value: <strong>{{var data.amount}}</strong><br />
					gift card claim code: <strong>{{var data.code}}</strong><br />
					</p>
				</td>
			</tr>
            <tr>
                <td style="padding: 0 0 30px">
					<p style="font-size:12px; margin:0;line-height:20px; font-weight:bold; text-transform:uppercase;">To redeem and use you gift card:</p>
						<ol style="font-size:12px; margin:0 0 50px; font-weight:bold; line-height:20px;">
							<li>Create an account and login into <a href="{{store url=""}}" style="text-decoration:none; color:#f30f44;">{{store url=""}}</a>.</li>
							<li>Redeem the card in My Gift Cards page of My Account section.</li>
							<li>Alternatively, you can redeem the card on My Cart page before proceeding to checkout.</li>
						</ol>
						<p style="color:#666; font-size:12px; line-height:18px; margin:0 0 20px;">-Your friends at YOGASMOGA</p>
                </tr>
<!-- [ middle ends here] -->

		</table>
	</td>
</tr>
					
					
<tr>
	<td valign="top" style="font-size:12px; padding:20px 0 20px; border-top:1px solid #f2f2f2;">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="64%" align="left">
					<p  style="font-size:12px; margin:0;"><span style="color:#666; font-size:12px; margin:15px 0;">If you have any comments or questions, please email us any time at <br>
						<a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#d90d3d; text-decoration:none;">{{config path='trans_email/ident_support/email'}}</a>.</span></p>
				</td>
				<td style="text-align:right;">
					<a href="http://www.twitter.com/YOGASMOGA"><img src="{{store url="skin/frontend/yogasmoga/yogasmoga-theme/images/i-twitter.png"}}" height="20" width="20" style="border:0" /></a>
					<a href="http://www.pinterest.com/YOGASMOGA" style="margin-left:20px;"><img src="{{store url="skin/frontend/yogasmoga/yogasmoga-theme/images/i-pin.png"}}" height="20" width="20" style="border:0" /></a>
					<a href="http://www.facebook.com/YOGASMOGA" style="margin-left:20px;"><img src="{{store url="skin/frontend/yogasmoga/yogasmoga-theme/images/i-facebook.png"}}" height="20" width="20" style="border:0" /></a>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>
</div>
</body>
