<?xml version="1.0"?>
<config>
  <modules>
    <Home_Mylayouts>
      <version>0.1.0</version>
    </Home_Mylayouts>
  </modules>
  <global>
    <page>
      <layouts>
        <INTERNAL_NAME_FOR_YOUR_NEW_LAYOUT translate="label">
          <label>Home</label>
          <template>page/home.phtml</template>
          <layout_handle>home</layout_handle>
        </INTERNAL_NAME_FOR_YOUR_NEW_LAYOUT>
		<category translate="label">
          <label>Category</label>
          <template>page/category.phtml</template>
          <layout_handle>category</layout_handle>
        </category>
		<product translate="label">
          <label>Product</label>
          <template>page/product.phtml</template>
          <layout_handle>product</layout_handle>
        </product>
		<staticpage translate="label">
          <label>StaticPage</label>
          <template>page/staticpage.phtml</template>
          <layout_handle>StaticPage</layout_handle>
        </staticpage>
        <!-- add more layouts here -->
      </layouts>
    </page>
  </global>
</config>