<?xml version="1.0"?>
<config>

    <!-- ******************* modules section ******************** -->

    <modules>
        <Ysindia_Mailchimp>
            <version>0.1.0</version>
        </Ysindia_Mailchimp>
    </modules>

    <!-- ******************* global section ******************** -->

    <global>

        <helpers>
            <mailchimp>
                <class>Ysindia_Mailchimp_Helper</class>
            </mailchimp>
        </helpers>

        <blocks>
            <mailchimp>
                <class>Ysindia_Mailchimp_Block</class>
            </mailchimp>
        </blocks>

        <models>
            <mailchimp>
                <class>Ysindia_Mailchimp_Model</class>
            </mailchimp>
        </models>

    </global>
</config>