
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rangoli/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rangoli/index.php [L]
</IfModule>

# END WordPress
#
#<IfModule pagespeed_module>
#    ModPagespeed off
#</IfModule>