
#Redirection

#Redirect 302 /author/marjorie-nass http://yogasmoga.com/rangoli/author/marjorie-nass-2/
Redirect 302 /author/marjorie-nass https://yogasmoga.com
Redirect 302 /rangoli https://yogasmoga.com
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rangoli/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rangoli/index.php [L]
</IfModule>


<ifModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

# BEGIN Expire headers
<IfModule mod_expires.c>
	# Enable expirations
	ExpiresActive On
	# Default directive
	ExpiresDefault "modification plus 1 month"
	# My favicon
	ExpiresByType image/x-icon "modification plus 1 year"
	# Images
	ExpiresByType image/gif "modification plus 1 month"
	ExpiresByType image/png "modification plus 1 month"
	ExpiresByType image/jpg "modification plus 1 month"
	ExpiresByType image/jpeg "modification plus 1 month"
	# CSS
	ExpiresByType text/css "modification plus 1 month"
	# Javascript
	ExpiresByType text/javascript "modification plus 1 month"
	ExpiresByType application/javascript "modification plus 1 month"
	ExpiresByType application/x-javascript "modification plus 1 month"
	#html/xhtml+xml
	ExpiresByType text/html "modification plus 1 month"
	ExpiresByType application/xhtml+xml "modification plus 1 month"
	#Shockwave-flash
	ExpiresByType application/x-shockwave-flash "modification plus 1 month"
</IfModule>
# END Expire headers

# END WordPress

<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

php_value upload_max_filesize 1M
php_value post_max_size 1M




