.gift-set-title {
    height: 44px;
    font: 19px/58px ITCAvantGardeStd-Bk;
    text-transform: uppercase;
}

.pageThumbnail {
    background: #f3f3f3 url('../../images/combo/map-usa.svg') no-repeat scroll center center;
}

h1.page-title {
    font: 30px/58px ITCAvantGardeStd-Bk;
    text-transform: uppercase;
}

.gift-set .thumbnail {
    min-height: 240px;
    background: #f3f3f3;
    position: relative;
}

.gift-set .thumbnail .setPrice {
    background: #CCC none repeat scroll 0 0;
    font: 12px/58px ITCAvantGardeStd-Bk;
    height: 44px;
    left: 0;
    position: absolute;
    top: 0;
    width: 44px;
}

.gift-set .details {
    padding: 14px;
}
.gift-set .details .left_item{
    text-align: right;
    font: 12px GraphikRegular;
    margin: 6px 0 11px;
    text-transform: uppercase;
}
.gift-set .details .flexslider{
    float: none;
    margin: 27px 0 14px;
}
.gift-set .details .flexslider .slides li img{
    width: 100%;
}
.gift-set .details .desc{
    font: 14px/20px GraphikRegular;
    text-align: left;
}