<!--@subject {{var store.getFrontendName()}}: A credit has been posted for your Order No. {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var creditmemo.increment_id":"Credit Memo Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_creditmemo_items\" creditmemo=$creditmemo order=$order":"Credit Memo Items Grid",
"var comment":"Credit Memo Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:20px; line-height:1; text-align:center;">
<!-- [ header starts here] -->
<table cellspacing="0" cellpadding="0" border="0" width="600" style="margin:0px auto;">
<tr>
    <td align="center" valign="top">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600" style="background:#fff; border:20px solid #fff;">
            <tr>
                <td valign="top" align="center" style="padding-bottom:50px;"><a style="color : #d90d3d;" href="{{store url=""}}"><img src="{{skin url='images/logo_email.gif' _area='frontend' _package='yogasmoga'}}" alt="{{var logo_alt}}" style="margin:0px;" border="0"/></a></td>
            </tr>
			
			
			
			
<!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:0 0 15px;">
                    <p style="color:#666; font-size:12px; line-height:1; margin:0 0 20px;">Dear {{htmlescape var=$order.getCustomerName()}},</p>
                    <p style="color:#666; font-size:12px; line-height:1; margin:0 0 20px;">We wanted to let you know that we have received your return package and are refunding your credit card.</p>
                    <p style="color:#666; font-size:12px; line-height:1; margin:0 0 20px;">In the event that your order is a Pre-Order, the order has been cancelled from our queue and we are refunding your credit card.</p>
					<p style="color:#666; font-size:12px; line-height:1; margin:0 0 20px;">The SMOGI Bucks you earned related to your order have also been reversed. Do come back another time and you can get them right back.</p>
                    <p style="color:#666; font-size:12px; line-height:1; margin:0 0 20px;">Thanks for choosing YOGASMOGA.</p>
                </td>
            </tr>
			
            <!--
			<tr>
				<td valign="top"s style="padding:0 0 30px;">
                    <h2 style="color:#000; line-height:1.5; margin:0 0 15px; display:block; border-bottom:1px solid #000; font-size:12px; text-transform:uppercase;">purchasing information</h2>
                    <table cellspacing="0" cellpadding="0" border="0" width="600">
                        <tbody>
                        <tr>
                            <td valign="top" width="290">
								<span align="left" style="font-size:12px; text-transform:uppercase; color:#666; margin:0 0 10px; display:block; line-height:1;">Billing Address</span>
								
								<div style="font-size:12px; color:#000;">
									{{var order.billing_address.format('html')}} 
								</div>
							</td>
                            <td width="10"></td>
							{{depend order.getIsNotVirtual()}}
                            <td valign="top" width="290">
								<span align="left" style="font-size:12px; text-transform:uppercase; margin:0 0 10px; display:block; color:#666; line-height:1em;">Shipping Address</span>
								
								<div style="font-size:12px; color:#000;">
									{{var order.shipping_address.format('html')}} 
								</div>
							</td>
							{{/depend}}
						</tr>
                        </tbody>
                    </table>
				</td>
			</tr>
            -->
			<tr>
				<td valign="top">
                    <h2 style="color:#000; line-height:1.5; margin:0 0 15px; display:block; border-bottom:1px solid #000; font-size:13px; text-transform:uppercase;">Order Summary</h2>
					<div style="color:#666; font-size:12px; padding:0 0 30px;">
						<p style="margin:0 0 10px;"><span style="text-transform:uppercase;">Order Number:</span> #{{var order.increment_id}}</p>
						<p style="margin:0 0 10px;"><span style="text-transform:uppercase;">Billing Method:</span> {{var payment_html}} </p>
						{{depend order.getIsNotVirtual()}}
						<p style="margin:0 0 10px;"><span style="text-transform:uppercase;">shipping Method:</span> {{var order.shipping_description}} </p>
						{{/depend}}
					</div>
					<div style="display:block; margin-bottom:30px;">
						{{layout handle="sales_email_order_creditmemo_items" creditmemo=$creditmemo order=$order}}
					</div>
                    
                    <p style="font-size:12px; margin:0 10px 10px 0">{{var comment}}</p>
                    
                    <p style="color:#666; font-size:12px; margin:15px 0;">If you have any questions or need help with anything in the future, please contact us any time:</p>
                    <p>YOGASMOGA</p>
                    <p>                        
                        Phone: 	 888-990-YOGA (9642)<br />
                        Email: 	 <a style="color : #d90d3d;" href="mailto:hello@yogasmoga.com">hello@yogasmoga.com</a><br />
                        Website: <a style="color : #d90d3d;" href="http://www.yogasmoga.com">www.yogasmoga.com</a>
                    </p>
                    <p>We are YOGASMOGA. We make things for Life. One breath at a time.</p>
                    <p>
                        Let's keep in touch:<br />
                        <a style="color : #d90d3d;" href="http://www.facebook.com/yogasmoga">www.facebook.com/yogasmoga</a>
                    </p>
                    <!--
					<p style="color:#666; font-size:12px; margin:15px 0;">If you have any comments or questions regarding your order, please email us any time at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#f30f44; text-decoration:none;">{{config path='trans_email/ident_support/email'}}</a>.</p>
                    -->
					<p style="color:#666; font-size:12px; margin:15px 0;">&nbsp;</p>
				</td>
			</tr>		
<!-- [ middle ends here] -->
			
			
            	
<!-- [ middle ends here] -->

		</table>
	</td>
</tr>
					
					
<tr>
	<td valign="top" style="font-size:12px; padding:20px 0 20px; border-top:1px solid #f2f2f2;">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="64%" align="left">
                    &nbsp;
                    <!--
					<p  style="font-size:12px; margin:0;"><span style="color:#666; font-size:12px; margin:15px 0;">Check your <a href="{{store url="customer/account/"}}" style="color:#f30f44; text-decoration:none;">order status</a></span></p>
                    -->
				</td>
				<td style="text-align:right;">
					<a href="http://www.twitter.com/YOGASMOGA"><img src="{{skin url='images/i-twitter.png' _area='frontend' _package='yogasmoga'}}" height="20" width="20" style="border:0" /></a>
					<a href="http://www.pinterest.com/YOGASMOGA" style="margin-left:20px;"><img src="{{skin url='images/i-pin.png' _area='frontend' _package='yogasmoga'}}" height="20" width="20" style="border:0" /></a>
					<a href="http://www.facebook.com/YOGASMOGA" style="margin-left:20px;"><img src="{{skin url='images/i-facebook.png' _area='frontend' _package='yogasmoga'}}" height="20" width="20" style="border:0" /></a>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>
</div>
</body>