<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#fff; font-family: Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top" align="center"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <p style="color:#666; font-size:12px; text-transform:uppercase;">Thanks for your order, {{htmlescape var=$order.getCustomerName()}}!</p>
                    <p style="color:#666; font-size:12px;">If you need to check the status of your order please visit our home page at <a href="{{store url}}" style="text-decoration:none; color:#f30f44;">{{store url}}</a> and click on your account at the top of any page.</p>
				</td>
			</tr>
			<tr>
				<td valign="top">
                    <h2 style="color:#000; line-height:1.5; margin:15px 0; display:block; border-bottom:1px solid #000; font-size:13px; text-transform:uppercase;">purchasing information</h2>
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <tbody>
                        <tr>
                            <td valign="top" width="320">
								<span align="left" style="font-size:12px; text-transform:uppercase; padding:5px 9px 6px 9px; color:#666; line-height:1em;">Billing Address</span>
								
								<div style="font-size:12px; color:#666; padding:7px 9px 9px 9px;">
									{{var order.getBillingAddress().format('html')}}
								</div>
							</td>
                            <td width="10"></td>
							{{depend order.getIsNotVirtual()}}
                            <td valign="top" width="320">
								<span align="left" width="325" style="font-size:12px; text-transform:uppercase; padding:5px 9px 6px 9px; color:#666; line-height:1em;">Shipping Address</span>
								
								<div style="font-size:12px; color:#666; padding:7px 9px 9px 9px;">
									{{var order.getShippingAddress().format('html')}}
								</div>
							</td>
							{{/depend}}
						</tr>
                        </tbody>
                    </table>
				</td>
			</tr>
			<tr>
				<td valign="top">
                    <h2 style="color:#000; line-height:1.5; margin:15px 0; display:block; border-bottom:1px solid #000; font-size:13px; text-transform:uppercase;">Order Summary</h2>
					<div style="color:#666; font-size:12px;">
						<p style="margin:0 0 10px;"><span style="text-transform:uppercase;">Payment Method:</span> {{var payment_html}}</p>
						<p style="margin:0 0 10px;"><span style="text-transform:uppercase;">Order Number:</span> #{{var order.increment_id}}</p>
						{{depend order.getIsNotVirtual()}}
						<p style="margin:0 0 10px;"><span style="text-transform:uppercase;">shipping Method:</span> {{var order.getShippingDescription()}}</p>
						{{/depend}}
					</div>
					{{layout handle="sales_email_order_items" order=$order}}
                    <p style="color:#666; font-size:12px; margin:0 0 10px 0">{{var order.getEmailCustomerNote()}}</p>
					<p style="color:#666; font-size:12px; margin:0 0 10px 0">If you have any comments or questions regarding your order, please email us any time at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#f30f44; text-decoration:none;">{{config path='trans_email/ident_support/email'}}</a>.</p>
				</td>
			</tr>
			<tr>
				<td valign="top" style="font-size:12px;">Check your <a href="{{store url="customer/account/"}}" style="color:#f30f44; text-decoration:none;">order status</a></td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>