<?xml version="1.0"?>
<config>
    <modules>
        <IntellectLabs_Stripe>
            <version>0.0.1</version>
        </IntellectLabs_Stripe>
    </modules>
     <global>
		<blocks>
            <stripe>
                <class>IntellectLabs_Stripe_Block</class>
            </stripe>          
        </blocks>
		<helpers>
            <stripe>
                <class>IntellectLabs_Stripe_Helper</class>
            </stripe>          
        </helpers>
        <models>
        	<stripe>
        		<class>IntellectLabs_Stripe_Model</class>
        	</stripe>
        </models>
        <fieldsets>
             <sales_convert_quote_payment>
                <create_stripe_customer>
                    <to_order_payment>*</to_order_payment>
                </create_stripe_customer>
                <stripe_customer_id>
                    <to_order_payment>*</to_order_payment>
                </stripe_customer_id>
                <stripe_token>
                    <to_order_payment>*</to_order_payment>
                </stripe_token>
             </sales_convert_quote_payment>
             <customer_account>
             	<stripe_customer_id><create>1</create><update>1</update></stripe_customer_id>
             </customer_account>
        </fieldsets>
        <resources>
	         <stripe_setup>
	              <setup>
	                  <module>IntellectLabs_Stripe</module>
	                  <class>Mage_Customer_Model_Entity_Setup</class>
	              </setup>
	         </stripe_setup>
	     </resources>
    </global>
    <frontend>
    	<secure_url>
            <stripe>/stripe/</stripe>
        </secure_url>
        <events>
              <controller_action_layout_render_before_checkout_onepage_index>
                <observers>
                    <stripe_check_validity>
                        <type>model</type>
                        <class>IntellectLabs_Stripe_Helper_Data</class>
                        <method>isValidCheckoutRun</method>
                    </stripe_check_validity>
                </observers>
              </controller_action_layout_render_before_checkout_onepage_index>
              <controller_action_layout_render_before_stripe_index_index>
                <observers>
                    <stripe_check_validity>
                        <type>model</type>
                        <class>IntellectLabs_Stripe_Helper_Data</class>
                        <method>isValidAccountRun</method>
                    </stripe_check_validity>
                </observers>
              </controller_action_layout_render_before_stripe_index_index>
        </events>
        <routers>
            <stripe>
                <use>standard</use>
                <args>
                    <module>IntellectLabs_Stripe</module>
                    <frontName>stripe</frontName>
                </args>
            </stripe>
        </routers>
    	<layout>
    		<updates>
    			<stripe>
    				<file>stripe.xml</file>
    			</stripe>
    		</updates>
    	</layout>
    </frontend>
    <adminhtml>
    	<layout>
    		<updates>
    			<stripe>
    				<file>stripe.xml</file>
    			</stripe>
    		</updates>
    	</layout>
    </adminhtml>
    <admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <stripe before="Mage_Adminhtml">IntellectLabs_Stripe_Adminhtml</stripe>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
    <default>
    	<payment>
    		<stripe>
   				<model>stripe/payment</model>
   				<active>0</active>
                <cctypes>AE,VI,MC,DI</cctypes>
   				<always_create_customer>0</always_create_customer>
   				<send_address_information>0</send_address_information>
            	<api_key backend_model="adminhtml/system_config_backend_encrypted"/>
            	<payment_action>authorize_capture</payment_action>
            	<title>Stripe</title>
            	<cctypes>AE,VI,MC,DI,JCB</cctypes>
            	<useccv>1</useccv>
                <min_order_total>0.50</min_order_total>
    		</stripe>
    	</payment>
    </default>
</config>
