<?xml version="1.0"?>
<config>

    <!-- ******************* modules section ******************** -->

    <modules>
        <Ys_Mod>
            <version>0.1.0</version>
        </Ys_Mod>
    </modules>

    <!-- ******************* global section ******************** -->

    <global>

        <helpers>
            <Mod>
                <class>Ys_Mod_Helper</class>
            </Mod>
        </helpers>

        <blocks>
            <Mod>
                <class>Ys_Mod_Block</class>
            </Mod>
        </blocks>

        <models>
            <Mod>
                <class>Ys_Mod_Model</class>
            </Mod>
        </models>

    </global>

    <frontend>
        <routers>
            <mailchimp_unsubscribe>
                <use>standard</use>
                <args>
                    <module>Ys_Mod</module>
                    <frontName>ys</frontName>
                </args>
            </mailchimp_unsubscribe>
        </routers>
    </frontend>
    <!-- ******************* admin section ******************** -->

    <admin>
        <routers>
            <Mod>
                <use>admin</use>
                <args>
                    <module>Ys_Mod</module>
                    <frontName>ys</frontName>
                </args>
            </Mod>
        </routers>
    </admin>

    <!-- ******************* admin html section ******************** -->

    <adminhtml>

        <menu>
            <Mod module="Mod">
                <title>Ys</title>
                <sort_order>100</sort_order>
                <children>
                    <menu_index module="Mod">
                        <title>Mailchimp Settings</title>
                        <sort_order>0</sort_order>
                        <action>ys/adminhtml_custom/mailchimp</action>
                    </menu_index>
                    <menu_unsubscribe module="Mod">
                        <title>Newsletter Unsubscribe</title>
                        <sort_order>1</sort_order>
                        <action>ys/adminhtml_custom/unsubscribe</action>
                    </menu_unsubscribe>
                    <menu_uploadproducts module="Mod">
                        <title>Upload Products</title>
                        <sort_order>2</sort_order>
                        <action>ys/adminhtml_custom/upload</action>
                    </menu_uploadproducts>
                </children>
            </Mod>
        </menu>

        <acl>
            <resources>
                <all>
                    <title>Ys</title>
                </all>
                <admin>
                    <children>
                        <Mod translate="title" module="Mod">
                            <title>Ys</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <menu_index translate="title">
                                    <title>Mailchimp Settings</title>
                                </menu_index>
                                <menu_unsubscribe translate="title">
                                    <title>Newsletter Unsubscribe</title>
                                </menu_unsubscribe>
                                <menu_unsubscribe translate="title">
                                    <title>Upload Products</title>
                                </menu_unsubscribe>
                            </children>
                        </Mod>
                    </children>
                </admin>
            </resources>
        </acl>

        <!-- ******************* layout for controller action ******************** -->

        <layout>
            <updates>
                <mod>
                    <file>ys.xml</file>
                </mod>
            </updates>
        </layout>
    </adminhtml>

</config>