<?xml version="1.0"?>
<config>

    <!-- ******************* modules section ******************** -->

    <modules>
        <Ys_Mod>
            <version>0.1.0</version>
        </Ys_Mod>
    </modules>

    <!-- ******************* global section ******************** -->

    <global>

        <helpers>
            <mod>
                <class>Ys_Mod_Helper</class>
            </mod>
        </helpers>

        <blocks>
            <mod>
                <class>Ys_Mod_Block</class>
            </mod>
        </blocks>

        <models>
            <mod>
                <class>Ys_Mod_Model</class>
            </mod>
        </models>

        <events>
            <customer_register_success>
                <observers>
                    <Ys_Mod_customer_register_success>
                        <type>singleton</type>
                        <class>Ys_Mod_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </Ys_Mod_customer_register_success>
                </observers>
            </customer_register_success>
            <customer_address_save_after>
                <observers>
                    <Ys_Mod_customer_register_success>
                        <type>singleton</type>
                        <class>Ys_Mod_Model_Observer</class>
                        <method>customerAddressSaveAfter</method>
                    </Ys_Mod_customer_register_success>
                </observers>
            </customer_address_save_after>
        </events>

    </global>

    <frontend>
        <routers>
            <mailchimp_unsubscribe>
                <use>standard</use>
                <args>
                    <module>Ys_Mod</module>
                    <frontName>ys</frontName>
                </args>
            </mailchimp_unsubscribe>
        </routers>
    </frontend>
    <!-- ******************* admin section ******************** -->

    <admin>
        <routers>
            <mod>
                <use>admin</use>
                <args>
                    <module>Ys_Mod</module>
                    <frontName>ys</frontName>
                </args>
            </mod>
        </routers>
    </admin>

    <!-- ******************* admin html section ******************** -->

    <adminhtml>

        <menu>
            <mod module="mod">
                <title>Ys</title>
                <sort_order>100</sort_order>
                <children>
                    <menu_index module="mod">
                        <title>Mailchimp Settings</title>
                        <sort_order>0</sort_order>
                        <action>ys/adminhtml_custom/index</action>
                    </menu_index>
                    <menu_unsubscribe module="mod">
                        <title>Newsletter Unsubscribe</title>
                        <sort_order>1</sort_order>
                        <action>ys/adminhtml_custom/unsubscribe</action>
                    </menu_unsubscribe>
                </children>
            </mod>
        </menu>

        <acl>
            <resources>
                <all>
                    <title>Ys</title>
                </all>
                <admin>
                    <children>
                        <mod translate="title" module="mod">
                            <title>Ys</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <menu_index translate="title">
                                    <title>Settings</title>
                                </menu_index>
                                <menu_unsubscribe translate="title">
                                    <title>Unsubscribe</title>
                                </menu_unsubscribe>
                            </children>
                        </mod>
                    </children>
                </admin>
            </resources>
        </acl>

        <!-- ******************* layout for controller action ******************** -->

        <layout>
            <updates>
                <mod>
                    <file>ys.xml</file>
                </mod>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <ys_mod>
                <schedule>
                    <cron_expr>1 */6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mod/observer::sync</model>
                </run>
            </ys_mod>
        </jobs>
    </crontab>
</config> 