<?xml version="1.0"?>
<!-- 
/**
 * @category   Ysindia
 * @package    Ysindia_NominateInstructor
 */
 -->
<config>
    <modules>
        <Ysindia_Nominateinstructor>
            <version>0.1.0</version>
        </Ysindia_Nominateinstructor>
    </modules>
    <frontend>
        <routers>
            <nominateinstructor>
                <use>standard</use>
                <args>
                    <module>Ysindia_Nominateinstructor</module>
                    <frontName>nominateinstructor</frontName>
                </args>
            </nominateinstructor>
        </routers>
        <layout>
            <updates>
                <nominateinstructor>
                    <file>nominateinstructor.xml</file>
                </nominateinstructor>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<nominateinstructor>
				<use>admin</use>
				<args>
					<module>Ysindia_Nominateinstructor</module>
					<frontName>nominateinstructor</frontName>
				</args>
			</nominateinstructor>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<nominateinstructor module="nominateinstructor">
				<title>NominateInstructor</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="nominateinstructor">
						<title>Manage Instructor</title>
						<sort_order>0</sort_order>
						<action>nominateinstructor/adminhtml_nominateinstructor</action>
					</items>
				</children>
			</nominateinstructor>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Ysindia_Nominateinstructor>
							<title>NominateInstructor Module</title>
							<sort_order>10</sort_order>
						</Ysindia_Nominateinstructor>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<nominateinstructor>
					<file>nominateinstructor.xml</file>
				</nominateinstructor>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <nominateinstructor>
                <class>Ysindia_Nominateinstructor_Model</class>
                <resourceModel>nominateinstructor_mysql4</resourceModel>
            </nominateinstructor>
            <nominateinstructor_mysql4>
                <class>Ysindia_Nominateinstructor_Model_Mysql4</class>
                <entities>
                    <nominateinstructor>
                        <table>nominateinstructor</table>
                    </nominateinstructor>
                </entities>
            </nominateinstructor_mysql4>
        </models>
        <resources>
            <nominateinstructor_setup>
                <setup>
                    <module>Ysindia_Nominateinstructor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nominateinstructor_setup>
            <nominateinstructor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nominateinstructor_write>
            <nominateinstructor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nominateinstructor_read>
        </resources>
        <blocks>
            <nominateinstructor>
                <class>Ysindia_Nominateinstructor_Block</class>
            </nominateinstructor>
        </blocks>
        <helpers>
            <nominateinstructor>
                <class>Ysindia_Nominateinstructor_Helper</class>
            </nominateinstructor>
        </helpers>
    </global>
</config>