<?xml version="1.0"?>
<!-- 
/**
 * @category   Ysindia
 * @package    Ysindia_Career
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Ysindia_Career>
            <version>0.1.0</version>
        </Ysindia_Career>
    </modules>
    <frontend>
        <routers>
            <career>
                <use>standard</use>
                <args>
                    <module>Ysindia_Career</module>
                    <frontName>careers</frontName>
                </args>
            </career>
        </routers>
        <layout>
            <updates>
                <career>
                    <file>career.xml</file>
                </career>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<career>
				<use>admin</use>
				<args>
					<module>Ysindia_Career</module>
					<frontName>careers</frontName>
				</args>
			</career>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<career module="career">
				<title>Career</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="career">
						<title>Manage Jobs</title>
						<sort_order>0</sort_order>
						<action>career/adminhtml_career</action>
					</items>
				</children>
			</career>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<career>
							<title>Career</title>
							<sort_order>10</sort_order>
                            <children>
                                <items module="career">
                                    <title>Manage Jobs</title>
                                    <sort_order>0</sort_order>
                                    <action>career/adminhtml_career</action>
                                </items>
                            </children>
						</career>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<career>
					<file>career.xml</file>
				</career>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <career>
                <class>Ysindia_Career_Model</class>
                <resourceModel>career_mysql4</resourceModel>
            </career>
            <career_mysql4>
                <class>Ysindia_Career_Model_Mysql4</class>
                <entities>
                    <career>
                        <table>career</table>
                    </career>
                </entities>
            </career_mysql4>
        </models>
        <resources>
            <career_setup>
                <setup>
                    <module>Ysindia_Career</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </career_setup>
            <career_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </career_write>
            <career_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </career_read>
        </resources>
        <blocks>
            <career>
                <class>Ysindia_Career_Block</class>
            </career>
        </blocks>
        <helpers>
            <career>
                <class>Ysindia_Career_Helper</class>
            </career>
        </helpers>
    </global>
</config>