#co-billing-form table.inputtable {
    width: 533px;
}
#co-billing-form table.twocolumn533 table.inputtable
{
    width : 237px;
}
#billing\:region_id {
    width: 72px;
}
#billing-password
{
    display : none;
}
#checkout-billing-continue
{
    background-image: url("../images/checkout/continue_off.png");
    height: 29px;
    margin-top: 40px;
    width: 147px;
}
.checkoutcontinuebtn
{
    background-image: url("../images/checkout/continue_off.png");
    background-position: center 0;
    height: 39px;
    margin: auto;
    width: 100%;
    border: 0 none;
    outline: 0 none;
    background-size: cover;
}
td.checkoutstepsholder
{
    padding : 0 76px;
    width : 533px;
    max-width : 533px;
}
#tblcheckoutsteps
{
/*    margin-left : auto;
    margin-right : auto;
	margin-bottom:70px;
    width : 755px;
    max-width : 755px;
    text-align : left;
    position: relative;*/
}
#tblcheckoutsteps select
{
    /*display: none;*/
/*    max-width: 533px;  */ 
}
#tblcheckoutsteps input[type='submit']
{
/*    float : right;
    margin-right : 0;
    margin-top : 30px;*/
}
div.checkoutstepheader
{
/*    font-family:gothambook;
    font-size: 18px;
    height: 42px;
    letter-spacing: 0.6pt;
    margin-bottom: 10px;
    padding-top: 13px;*/
    cursor : default;
} 
div.checkoutstepsubheader span{font-style:italic; color:#999; font-size:13px;}
div.checkoutstepsubheader
{
    font-family: gothambook;
    font-size : 11px;
    padding-top : 10px;
    height : 30px;
    cursor : default;
    margin-bottom : 20px;
}
div.checkoutstepsubheader.firstsubstep
{
    margin-top : 0px;
}
div.cleaner
{
    clear : both;
}
div.checkoutsteps
{
/*    background-image : url('../images/checkout/step_divider.png');
    background-repeat : no-repeat;
    background-position: center bottom;*/
}
div.checkoutsteps.inactive
{
    /*height : 55px;*/
    overflow : hidden;
}
/*
div.checkoutsubstep.codivider
{
    border-bottom : 1px solid black;
}
*/
div.checkoutsubstep.codivider
{
}
div.checkoutsubstep.inactive
{
    overflow : hidden;
    cursor : default;
}
#tblcheckoutsteps div.errormsg
{
    text-align : right;
}
div.shippingfootnote
{
    margin-top : 30px;
    text-align : left;
}
table.co-ov-table
{
    margin-left: auto;
    margin-right: auto;
    width: 573px;
}
table.co-ov-table tr.last td.a-right.total
{
    white-space : nowrap;
}
table.co-ov-table tr.first td.a-left.total
{
    white-space : nowrap;
    text-align: right !important;
}
table.co-ov-table thead th
{
    font-family:gothambook;
    font-size : 11px;
    letter-spacing: 0.6pt;
    font-weight: bold;
    padding-bottom : 30px;
}
table.co-ov-table thead th a
{
    color : #D90D3D;
    text-decoration: underline;
    font-size : 10px;
    font-family:HelvLightRegular;
}
table.co-ov-table td.price,table.co-ov-table td.total 
{
    text-align : right;
}
table.co-ov-table td.co-ov-summaryanchor
{
    text-align : right;
    padding-right : 10px;
}
table.co-ov-table th.total
{
    text-align : right;
    /*padding-right : 20px;*/
}
table.co-ov-table th.total, table.co-ov-table td.total 
{
    width : 75px;
    min-width : 75px;
    max-width : 75px;
}
table.co-ov-table td.total,table.co-ov-table th.total
{
    padding-right : 20px;
}
table.co-ov-table td.total span
{
    float : left;
    margin-left : 15px;
}
table.co-ov-table th.prdtl,table.co-ov-table td.prdtl
{
    padding-left : 20px;
    padding-right : 5px;
}
table.co-ov-table tr.co-ov-total td
{
    font-size : 12px;
    padding-top : 30px;
}
table.co-ov-table div.divider
{
    margin : 0;
}
table.co-ov-table tr.co-ov-subtotal td, table.co-ov-table tr.co-ov-finaltotal td
{
    padding-top : 17px;
}
table.co-ov-table tr.co-ov-tax td, table.co-ov-table tr.co-ov-shipping td
{
    padding-top : 30px;
}
table.co-ov-table tr.co-ov-shipping td
{
    padding-bottom : 17px;
}
table.co-ov-table tr.co-ov-finaltotal td
{
    font-weight: bold;
}
table.co-ov-table th.qty,table.co-ov-table td.qty, table.co-ov-table td.co-ov-summaryanchor
{
    padding-right : 30px;
} 
table.co-ov-table th.qty,table.co-ov-table td.qty
{
    text-align : center;
}
table.co-ov-table th.price,table.co-ov-table td.price
{
    text-align : right;
    padding-right : 55px;
}
table.co-ov-table td.co-ov-primg
{
    width : 80px;
    min-height : 75px;
}
table.co-ov-table tr.pritem td
{
    padding-bottom: 20px;
}
table.co-ov-prdetail td.co-over-prdtl div.productname
{
    font-family:gothamMedium;
    font-size : 11px;
    letter-spacing:0.4px;
    margin-bottom : 10px;
}
table.co-ov-prdetail td.co-over-prdtl div.productdetail
{
    font-size : 11px;
    margin-bottom : 10px;
}
table.co-ov-prdetail td.co-over-prdtl div.productdetail span.productattribute
{
    font-family:gothambook;
    font-size:11px;
    letter-spacing:0.4px;
    text-transform : uppercase;
}
table.co-ov-table tfoot tr td
{
    padding-bottom : 17px;
    text-transform: uppercase;
    padding-right : 10px;
}
table.co-ov-table tfoot tr.first td,table.co-ov-table tfoot tr.last td
{
    padding-top : 17px;
}
table.co-ov-table tfoot tr td.total
{
    /*padding-right : 0;*/
}
table.co-ov-table tfoot tr.last td
{
    border-top : 1px dotted black;
}

#checkout-submit {
    height: 43px;
    margin: 20px auto auto;
    max-width: 80%;
    min-width: 50%;
    width: 304px;
}
div#coshipping, div#cobilling
{
    /*padding : 0 111px;*/
}

div#coreview {
    margin: auto;
    max-width: 80%;
    min-width: 50%;
    width: 304px;
}
div#coreview div.checkoutstepheader
{
    /*padding-left: 20px;*/
}
div#ordersummary, div#shippingsummary
{
    /*position: absolute;
    top: 0;*/
    background-color : #ededed;
    padding : 15px 20px 0 20px;
}
div#shippingsummary
{
    left : 710px;
}

div#ordersummary {
    font: 12px/21px gothambook;
    margin: auto;
    text-align: left;
    width: ;
    min-height: 170px;
}
div#ordersummary span.anchor, div#shippingsummary span.anchor
{
    font: 11px/21px gothammedium;
    white-space: nowrap;
}
div#ordersummary table, div#shippingsummary table
{
    margin-top : 10px;
    width : 100%;
}
div#shippingsummary table
{
    width : 410px;
}
div#shippingsummary table td.total
{
    text-align : left;
}
div#ordersummary table td.total 
{
    text-align: right;
}
div#ordersummary table td
{
    text-transform: capitalize;
}
div#ordersummary table td, div#shippingsummary table td
{
    padding-bottom : 2px;
}
div#ordersummary table tr.ordertotal td, div#shippingsummary table tr.ordertotal td
{
    padding-top : 10px;
    padding-bottom : 0;
}
div#ordersummary table td.divider, div#shippingsummary table td.divider
{
    display : table-cell;
}
div.addressselector
{
    margin-bottom : 20px;
    display: none;
}
#stripe-update-payment
{
    cursor: pointer;
    display: block;
    margin-top: 10px;
    color : #d90d3d;
    text-decoration: underline;
}
#stripe-update-payment.unuse
{
    margin-top : 0;
}
#stripe-update-payment:hover
{
    /*text-decoration: underline;*/
    color : #d90d3d;
}
table.useshippingasbilling
{
    margin-top : 10px;
}
div#submiterrormsg
{
    margin-right : 20px;
}

#ordersummary table td, #shippingsummary table td {
	font: 13px/28px gothambook;
}

table.co-ov-table td {
	font-family:gothambook;
}

table.co-ov-table tr.last td {
	font-family:gothamMedium;
	font-weight:normal;
}

#procImg {
    margin: 30px auto;
}
#co-billing-form #procImg {margin-top:40px;}
div#tblcheckoutsteps form
{
    display : block;
}
#orderreview td
{
    vertical-align : top;
}
button:active
{
    outline : none;
}
div.shippingdescription {
  font-family: gothamlight;
  font-weight: normal;
  margin: 5px 0 30px;
  text-align: justify;
}
div.shippingdescription  strong{font-weight:normal; font-family:gothamMedium;}
.red-txt{color:#d90d3d;}
table.co-ov-table div.preorderinfo
{
    color : #D90D3D;
    font-style: italic;
}
#shippingmethods td label{color:#dd8820; text-transform:uppercase;}

@media screen and (max-width: 1480px) {
	div#shippingsummary{
		left : 690px;
		right:auto;
	}
	div#shippingsummary table td{vertical-align:top; padding:0 10px 5px 0;}
	div#shippingsummary table{width:320px;}
}


@media screen and (max-width: 1280px) {
	div#shippingsummary{
		left : 650px;
		right:auto;
	}
	div#shippingsummary table td{vertical-align:top; padding:0 10px 5px 0;}
	div#shippingsummary table{width:200px;}
}
div.input-box select
{
    border: 0 none;
}
div.input-box select option{
    padding: 5px 0;
}
#myminicart div.minicartitems:hover img.delete
{
    display:none !important;
}
#co-shippingmethod-form p{ margin:-20px 0 0px; padding-bottom:20px;}
label.poplink{cursor:pointer;}
label.poplink:hover{color:#d90d3d;}

div#shippingsummary td#ordersubtotal
{
    padding-left : 5px;
}
#myminicart div.minicartitems img.delete
{
    display: none !important;
}
#tblcheckoutsteps div.checkoutsteps.inactive div.checkoutstepheader, #tblcheckoutsteps div.checkoutsubstep.inactive div.checkoutstepsubheader
{
    cursor : pointer;
}
#tblcheckoutsteps div.checkoutsteps.disabled div.checkoutstepheader, #tblcheckoutsteps div.checkoutsubstep.disabled div.checkoutstepsubheader:hover
{
    cursor : default;
}
#tblcheckoutsteps div.checkoutsteps.inactive div.checkoutstepheader:hover, #tblcheckoutsteps div.checkoutsubstep.inactive div.checkoutstepsubheader:hover
{
    color : #d90d3d;
}
#tblcheckoutsteps div.checkoutsteps.disabled div.checkoutstepheader:hover, #tblcheckoutsteps div.checkoutsubstep.disabled div.checkoutstepsubheader:hover
{
    color : #2F2F2F;
}
#tblcheckoutsteps div.checkoutsubstep.inactive
{
    
}
div.paymentmethoddiv
{
    margin-bottom : 10px;
}

/*****************Paypal Checkout Form Starts****************/

.paypal-details{
    width:960px !important;
}

body.paypal-express-review .legend1{
    padding-bottom:10px;
}

body.paypal-express-review .paypal-details tfoot th{
    padding-bottom: 17px;
    padding-right: 10px;
    text-transform: uppercase;
}

body.paypal-express-review .paypal-details th.prdtl,body.paypal-express-review .paypal-details td.prdtl
{
    padding-left:0 !important;
}

body.paypal-express-review .paypal-details td.total,body.paypal-express-review .paypal-details th.total
{
    padding-right:10px;
}
.p-top
{
    padding-top:20px;
}

/*****************Paypal Checkout Form Ends****************/

div#coshipping, div#cobilling {
    margin: auto;
    max-width: 80%;
    min-width: 50%;
    overflow: inherit;
    padding: 0;
    width: 300px;
}
body.checkout-onepage-index li.form-alt {
    background: none repeat scroll 0 0 #ededed;
    display: block;
    font: 13px/21px gothambook;
    margin: -20px auto 18px;
    min-height: inherit;
    padding: 20px;
    width: 86.5%;
    text-align: left;
}
div.paymentmethoddiv {
    float: left;
    margin: 0 0 18px;
    overflow: hidden;
    text-align: center;
    width: 50%;
}

body.checkout-onepage-index #payment_form_stripe {
    display: inline-block;
    margin: auto;
    width: 100%;
}
body.checkout-onepage-index #change-stripe-detail, body.checkout-onepage-index #stripe-payment-details, body.checkout-onepage-index a#stripe-update-payment {
    display: none;
    margin-left: 0;
}

#stripe-payment-details li {
    clear: both;
    display: block;
    height: auto;
    min-height: inherit;
    padding: 0;
    text-align: center;
    width: auto;
}

#stripe-payment-details{
    height: 110px;
    margin: auto;
    padding: 85px 0 0;
    position: relative;
    text-align: center;
    background: url("../images/checkout/creditblck.png") no-repeat top left;
    background-size: 100% 100%;
}

#payment_form_stripe > div {
    margin:0;
}


.cardType {
    bottom: 20px;
    float: right;
    position: absolute;
    right: 20px;
}

#stripe-payment-details span {
    color: #555;
    font: 20px/29px itcavantgardeprobk;
    text-transform: uppercase;
}

#stripe-payment-details li {
    clear: both;
    display: inline;
    height: auto;
    min-height: inherit;
    padding: 0;
    text-align: center;
    width: 100%;
}


#tblcheckoutsteps select#stripe_expiration_yr, #tblcheckoutsteps select#stripe_expiration {
    display: block;
    font: 11px gothambook;
    height: 26px;
    padding: 5px;
    width: 100%;
}

table.inputtable tr:first-child td{
    border: 0 none !important;
}

.crebg{
    background: url("../images/checkout/creditbg.png") no-repeat top left;
    height: 197px;
    margin: auto;
    padding: 0;
    width: 100%;
    background-size: 100% 100%;
}

.crebg .twocolumn533 {
    display: inline-block;
    margin: auto;
    padding: 65px 0 0;
    width: 90%;
}

#tblcheckoutsteps table.crebg td {
    display: inline-block;
    float: left;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

table.twocolumn533.crebg table.inputtable input {
    float: left;
    font: 11px gothambook;
    height: 20px;
    padding: 5px;
    width: 90%;
}

table.inputtable {
    width: 100%;
}


.label > label {
    color: #545454;
    float: left;
    font: 11px gothambook;
    margin: 4px 0 0;
}

.twocolumn533.crebg tr {
    display: block;
    height: 33px;
}

.paymentmethoddiv img {
    cursor: pointer;
    max-width: 100%;
    width: 119px;
}

.nopay{
    background: none repeat scroll 0 0 #eeefef;
    font: 13px gothambook;
    margin: 0 0 30px;
    padding: 20px;
}

select#billing-address-select{
    display: none;
}

#billing-address-select > li {
    cursor: pointer;
    height: auto;
    min-height: inherit;
    padding: 7px 0;
    width: 100%;
}

#co-billing-form input.checkoutcontinuebtn[type="submit"] {
    /*display: none !important;*/
}

.billingAdd a {
    color: #666;
    font: 11px/17px gothambook;
    height: 33px;
    margin: 0;
    padding: 1px 0 0 42px;
    text-align: left;
    text-transform: uppercase;
    width: auto;
}

.billingAdd a span{
    text-transform: none;
}

.billingAdd {
    display: inline-block;
    width: 100%;
    margin: 14px 0;
}

#cobillingaddress{
    display: inline-block;
    margin: -20px 0 0;
}
.addNewAdd .gryWrap input.checkbox{width:auto !important;}

#tblcheckoutsteps td {
    vertical-align: top;
}

.crebg > .twocolumn533 .inputholder input {
    height: 20px;
    padding: 4px !important;
    width: 90% !important;
}