/* Layout ================================================================================ */
.wrapper { min-width:100%;  margin:0 auto;}
.page {display:block;}
.page-print { background:#fff; padding:25px 30px; text-align:left; }
.page-empty { background:#fff; padding:0px; text-align:left; }
.page-popup { background:#fff; padding:25px 30px; text-align:left; }
.main-container { background:#fbfaf6 url(../images/bkg_main1.gif) 50% 0 no-repeat; }
.main { width:900px; margin:0 auto; min-height:400px; padding:25px 25px 80px; background:#fffffe url(../images/bkg_main2.gif) 0 0 no-repeat; text-align:left; }


/****Common Styles****/
.f-left{float: left;}
.f-right{float: right;}
.f-none{float: none;}
.l-align{text-align: left !important;}
.r-align{text-align: right !important;}
.c-align{text-align: center !important;}
.clear-fix{clear:both;}
.in-bl{display: inline-block !important;}
.bl{display: block;}
.gothambd{font-family: gothambold;}
.gothambk{font-family: gothambook;}
.no-wrap{white-space: nowrap;}
.pointer{cursor: pointer;}
.full-width{width: 100%;}
.white{color: white !important;}
.grey{color: #58595b !important;}
.lh-normal{line-height: normal !important;}
.no-display{display: none;}
.no-padding{padding: 0;}

/****Header****/
/*#pagecontainer{min-width: 960px;}*/
.header-container { background-color: #FFFFFF; position: fixed; top: 0px; height : 80px; width : 100%; z-index: 10003; min-width: 960px;}
.header{ padding:0 10px;}
.header .logo {margin:0;}
ul.main-menu{margin-left: 40px;}
ul.main-menu > li{display:inline-block; height: 80px; padding:0 10px; text-transform: uppercase; vertical-align: top; cursor:pointer;}
ul.main-menu li a,ul.tr-menu > li > ul.sub-menu li a{color: #58595b; font-size: 13px; font-family: gothambold;}
ul.main-menu li a.menu-heading{line-height: 80px; vertical-align: middle;}
ul.main-menu li ul.sub-menu{position: absolute; text-align: left; left: 0; background: rgba(255,255,255,0.9); padding: 15px; display: none;}
ul.main-menu li ul.sub-menu > li{display: inline-block; vertical-align: top; min-width: 160px; border-left: 1px solid #ccc; padding:0 0 0 15px; min-height: 120px;}
ul.main-menu2 li ul.sub-menu{width: 174px;}
ul.main-menu2 li ul.sub-menu>li{min-height: 100%; border: none; padding: 0;}
ul.main-menu li ul.sub-menu > li:first-child{border:none; padding:0;}
ul.main-menu li ul.sub-menu > li > ul:first-child a{font-family: gothambold;}
ul.main-menu li ul.sub-menu > li > ul a,ul.main-menu2 li ul.sub-menu > li > ul:first-child a,ul.tr-menu > li > ul.sub-menu li a{font-family: gothambook;}
ul.main-menu > li:hover{background: url("../images/menu_arrow.png") no-repeat bottom center; background-size: 17px 14px;}
ul.main-menu > li:hover > ul.sub-menu{display: block;}
ul.tr-menu{margin:5px 0;}
ul.tr-menu > li{display: inline-block; padding: 0 3px; position: relative;}
li.free-shipping{font-style: italic; margin-right: 15px;}
ul.tr-menu > li > ul.sub-menu{position: absolute; text-align: center; width:200px; padding:10px 0; display: none; text-transform: uppercase; }
ul.tr-menu > li > ul.sub-menu li{background: rgba(255,255,255,0.9); padding: 0 15px;}
ul.tr-menu > li > ul.sub-menu li.last{padding-bottom: 10px;}
ul.tr-menu > li > ul.sub-menu li.blank{height: 46px; background: transparent;}
ul.tr-menu > li:hover > ul.sub-menu{display: block;}
ul.main-menu2{margin-left: 0; margin-right: 25px;}
ul.main-menu2 > li{position: relative; padding-top: 2px; height: 50px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul.main-menu2 a.main-heading{display: block; height: 48px;}
ul.main-menu2 li ul.sub-menu li a{font-family: gothambook;}
.sub-menu a:hover{color:#cc0033 !important;}
	/**Search Bar**/
	.right-block{height: 80px;}
	.search-bar{border: 1px solid black; width: 225px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	margin-right:3px;}
	#search_input { width: 195px; height: 22px; border: medium none; font-family: gothamlight; font-size: 11px; letter-spacing: 0.4pt; }
	#search-btn{background: transparent url("../images/search-icon.png") center no-repeat; border: none; width: 16px; height: 14px; font-size: 0; cursor: pointer; }

/**Home Page**/
.share-strip{padding: 25px 0; margin: 0 auto; width: 98%; font-size: 0; display: block;}
.share-strip .blk{width: 50%; display: inline-block;}
.share-strip ul li{ display: inline-block; padding: 0 5px; font-size: 12px; line-height: 21px;}
.fabric-color{width: 90%; margin: 0 auto;background: url("../images/big-divider.png") no-repeat , url("../images/big-divider.png") no-repeat; background-position: top center, bottom center; background-size:100%, 100%; height:auto; padding-bottom: 1px;}
.structure{width: 90%; margin: 0 auto;}
.block1{width: 65%;}
.block2{width: 35%; padding-top: 10%; padding-left: 3%;}
.block1,.block2,.block3,.block4{float: left; position: relative; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.block-text{position: absolute; top: 8%; left: 6%;font-family:ITCAvantGardeProMd; line-height: normal;}
ul.fabric-qua{position: absolute; bottom: 5%; width: 100%;}
ul.fabric-qua li{display: inline-block; color: #fff; text-align: center; font-size: 0.8em; padding: 0 15px; }
ul.fabric-qua li img{margin-bottom: 10px;}
p.block-head{font-size: 15px; color: #de8a23}
p.block-desc{font-size: 30px; color:#58595b;}
p.block-link{margin-top: 30px;}
p.block-link a{font-family: "AvantGardeGothicITCW01B"; color: #333; font-size: 14px; text-transform: uppercase; border-bottom: #cc0033 1px solid;}
p.block-link a span,p.block-link a strong{color: #cc0033 !important; font-weight: normal;}
.block-text2{position: absolute; bottom: 5%; left:6%; font-family:ITCAvantGardeProMd;}
.block-text2 p.bracelet-count{font-family: gothamlight; font-size: 120px; line-height: 90px; margin-left: -10px;}
.block-text2 span{font-size: 20px;}
.sl-desc-handle{cursor:pointer;position: absolute; width: 41px; right: 6px; bottom: -34px;}
.slide-desc{display:none; position: absolute; right:41px; bottom:0; background-color:rgba(255,255,255,0.8); border-radius:2px; font-size: 12px; line-height: 18px; padding:15px !important; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color:#58595b; width:240px; height:auto;}

/****Flexslider next previous arror****/
.flex-direction-nav .flex-prev{background: url("../images/homepage/previous-slide.png") no-repeat bottom; background-size:100% 100%; width:24px; height: 46px;}
.flex-direction-nav .flex-next{background: url("../images/homepage/next-slide.png") no-repeat bottom; background-size:100% 100%; width:24px; height: 46px;}

/****Side bar****/
div.side-menu-bar{position: fixed; width:26%; vertical-align:top;min-height: 300px;}
div.side-menu-bar ul{padding: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.side-menu-bar ul li a{font-size: 15px; font-family: gothambold; color: #58595b;}
div.side-menu-bar ul li a span.arr{visibility: hidden;}
div.side-menu-bar ul li a.current,div.side-menu-bar ul li a:hover{color:#cc0033;}
div.side-menu-bar ul li a.current span.arr,div.side-menu-bar ul li a:hover span.arr{visibility: visible;}
/******CMS Page loader  ******/
.cms-loader{margin-top: 100px;}

/***Our Story***/
.pg-content{width:74%; vertical-align:top; color: #58595b; line-height: normal;min-height: 300px;}
.os-banner{position: relative;font-size: 40px; }
.os-banner img{width: 100%;} 
.os-banner .banner-text{position:absolute; top:20%; left:7%; text-align: left;}
.banner-text p{font-family: ITCAvantGardeProBd; text-transform: uppercase;}
.banner-text span{font-family:"AvantGardeGothicITCW01B"; text-transform: inherit;}
.box-str-container{width: 80%; margin-top: 60px; }
.box-str{background: url("../images/big-divider.png") no-repeat bottom; padding-bottom:30px; margin-bottom: 30px;background-size: contain;}
.box-str-container .img-box{width: 37%; border: 1px solid #e1e1e1; padding: 2px;}
.box-str-container .img-box img{width: 100%;}
.box-str-container .content-box{ width:62%; padding-left: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.content-box p{font-family: gothambook; font-size: 13px; margin-bottom: 22px; line-height: 1.3;}
.content-box p:last-child{margin: 0;}
.box-str h2.heading{font-family: ITCAvantGardeProBd; font-size: 20px; color: #58595b; margin-bottom: 45px; text-transform: uppercase;}
.box-str h2.heading span{font-family: ITCAvantGardeProBk; text-transform: inherit; }
.box-str.inverse .content-box{padding-right: 20px; padding-left: 0;}
/****Footer****/
#sitemap{width: 85%; margin: 0 auto;margin-top:90px;}
.footer-block{width: 100%;margin-left: 35px;}
.footer--block ul.site-map ul li{/*text-transform: uppercase;*/}
ul.site-map > li{color:#58595b; display: inline-block; vertical-align: top; text-align: left; width: 14.5%; margin:0 5px; word-wrap:break-word; }
ul.site-map > li:first-child{}
ul.site-map > li a{color: #58595b; font-size: 11px;}
.online-status-icon{vertical-align: middle;}
ul.site-map ul.social-icons {margin-top: 4px;}
ul.site-map ul.social-icons li{display: inline-block; margin: 0 3px;}
div.copy-privacy-likes{margin-top: 70px; margin-bottom: 35px;}
div.copy-privacy-likes ul li{display: inline-block; font-size: 11px; color: #58595b; vertical-align: top;}
div.copy-privacy-likes ul li:first-child{margin-left: 5px;}
div.copy-privacy-likes ul li a{font-size: 11px; color: #58595b}
div.copy-privacy-likes ul li img{height: 30px;}
.block3 img,.block4 img{width: 100%;}
#facebook-like,#twitter-follow{margin-right: 5px;}
.pt1{padding-top: 1px;}

/***Sign In Popup***/
#signing_popup,#invite_friends{padding: 0px;}
.signinDialog{width: 750px !important; min-height: 300px; z-index: 10012 !important; border: none; position: fixed; padding: 0 !important; background:#fff 50% top repeat-x; background-size: cover; overflow: initial; font-family: gothambook; color:#58595b !important;}
.sign-up-block,.sign-in-block{width: 280px; padding: 0 47.5px;}
.sign-up-block{background: url("../images/popups/pop-up-divider.png") right no-repeat;}
.signinDialog .ui-widget-header,.sharingDialog .ui-widget-header{border:none; background: none; font-weight: bold;}
.sharingDialog .ui-widget-header{margin-top: -33px;}
#sign-up-form table td,#sign-in-form table td,
#invite-friend-form table td{padding-bottom: 15px;}
/*#sign-up-form table label,#sign-in-form table label{width: 30%; float: left; word-wrap:break-word; line-height: 26px;}*/
#sign-up-form table input,
#sign-in-form table input,
#invite-friend-form table input{width: 100%; padding: 7px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#sign-up-button,#sign-in-button {cursor:pointer;}
.err-msg{color:#D90D3D;}
.signinDialog.ui-dialog .ui-dialog-titlebar-close,
.sharingDialog.ui-dialog .ui-dialog-titlebar-close{top: -0.2em; right: -1.2em; width: auto; height: auto; z-index: 500;}
.sharingDialog.ui-dialog .ui-dialog-titlebar-close{top:2em;}
.signinDialog .ui-icon-closethick,
.sharingDialog .ui-icon-closethick{background: url("../images/pop-close.png") no-repeat bottom; border:none; background-size: contain; width: 30px; height: 30px;}
.signinDialog .ui-state-hover,
.sharingDialog .ui-state-hover{border:none !important;background:none !important;padding:1px!important}
.form-heading{font-size: 22px;}
.thank-you-block p{display: block; text-align: center; font-size: 36px; width: 100%; margin-top: 30px;}
#sign-in-form a.forgot-link { font-family: HelvLightRegular; font-size: 11px; text-decoration: underline; color: #9B9B9B;}
#sign-in-form a.forgot-link:hover{color:#cc0033;}

/***Share with your friend popup***/
.sharingDialog{width: 640px !important; min-height: 300px; z-index: 10011 !important; border: none; position: fixed; padding: 0 !important; background:#fff 50% top repeat-x; background-size: cover; overflow: initial; font-family: gothambook; color:#58595b !important;}
.invite-left{width:260px; /*height:333px;*/ background-color: #ccc;}
.invite-right{width:305px; padding:30px 37.5px 0;}
#invite-friend-form{width: 285px; margin: 0 auto;}
.smogi-love-msg{margin-bottom: 45px;}
.mt100{margin-top: 100px; margin-bottom: 0;}
.invite-message{font-size: 18px;}

/****First Time Pop Up Home page****/
.firstdialog{z-index: 10003 !important;}
.firstdialog { border: none; position: fixed; padding: 0 !important; background: transparent url("/skin/frontend/yogasmoga/yogasmoga-theme/images/popup_bg_circle.png") 50% top repeat-x ; background-size: cover ; }
.firstdialog .ui-widget-header { border:none; background: none; font-weight: bold; }
.firstdialog .ui-dialog-titlebar-close{right: 7.3em ; top: 100% ; width: auto ; height: auto ; z-index: 500;}
.firstdialog .ui-state-hover{border: none ; background: none ; padding: 1px !important;}
.firstdialog .ui-icon-closethick{background:url("/skin/frontend/yogasmoga/yogasmoga-theme/images/pop-close.png") no-repeat ; width: 41px; height: 42px; background-position: 0 0;}
#popup-register{font-family: ITCAvantGardeProBk; font-size: 13px;color: #fff;position: absolute; bottom: 14%; left: 25%;}
#popup-register td{border: 0; border-bottom: 1px solid #ffffff; margin-bottom: 5px;}
#popup-register td input{width:100%; border: none; background: transparent;color: #fff;font-family: ITCAvantGardeProBk;}
#popup-register td label{ padding-right: 10px;}
#popup-register .errortext{font-family: ITCAvantGardeProBk; font-size: 11px; color: #fff; height: 13px; vertical-align: top !important; min-height: 13px; border: none;}
#popup-register .errortext div{display: none;}
#popup-register input[type="submit"]{margin-top: 25px; cursor: pointer;}
#map-fabrics table td img{width: 100%;}
#map-fabrics table td{position: relative;}
.fab_text {position: absolute; top:10%; width: 100%; text-align: center; font-family: ITCAvantGardeProBk; font-size: 30px; color: #666666}
.fab_text h3{font-family:ITCAvantGardeProBk,gotham,Arial; font-weight: normal; font-size: 30px; color: #dd8820; text-tansform: uppercase; font-style: normal;}
.fab_text h3 span{font-family:  ITCAvantGardeProBd,gotham-b,Arial;}
.fab_text span.gold_divider{display: block;}
.fab_text span.gold_divider img{width: auto !important; margin: 40px 0;}
div.sub-fab{display: inline-block; margin: 0 15px; font-size: 28px; width:40%;}
div.sub-fab img{width: 45% !important; display: block; margin:25px auto 0 auto;}
.ui-widget-overlay { background: #777777 50% 50% repeat !important; opacity: .5;filter:Alpha(Opacity=50); z-index: 100 !important; }
.firstdialog{width: 500px !important; height: 500px !important;}
#signup{height: 455px !important; padding: 0 !important;}
#o_password{display: none;}


/****Women Landing page****/
div.new-arrivals-block{background: url("../images/big-divider.png") no-repeat top,url("../images/big-divider.png") no-repeat bottom; padding: 30px 0; background-size: 100%,100%;}
ul.new-arrivals{width: 90%; display: block; text-align:center; font-size: 0; margin: 0 auto;}
ul.new-arrivals li{display: inline-block; width:20%; vertical-align: top; height:auto; max-width: 221px; max-height: 430px; margin-top: 40px;}
ul.new-arrivals li img{ margin: 0 auto; display: block;}
ul.new-arrivals li span{font-size: 12px; display: block; color: #58595b; text-transform: uppercase;}
ul.new-arrivals li img.prd-image{width: 90%;}
.prd-details{margin-top: 30px;}
.prd-details .prd-price{margin-bottom: 10px;}
li.new-arrivals-desc{text-align: left; font-family: ITCAvantGardeProMd; margin-top: 0 !important;}
li.new-arrivals-desc .block-head, .block-head{margin-bottom: 5px; font-size: 20px;}
li.new-arrivals-desc .block-desc, .block-desc{margin-bottom: 25px; font-size: 32px;}
li.new-arrivals-desc .block-link a, .block-link a{font-family: ITCAvantGardeProMd; font-size: 16px;}

/** YS-Tech Section **/
.discImg{margin: 40px 0 20px;}
ul.arw-list{display: block; margin: 0 0 25px 0; padding: 0; font-size: 13px;}
ul.arw-list li{background: url("../images/list-arw.png") no-repeat 0 4px; display: block; line-height: 1.3; padding: 0 0 10px 15px;}
sup {font-size: 13px; height: auto; line-height: inherit; padding: 0;}

/** StorySection **/
.wht-txt{color: #fff;}
a.readtxt{ text-transform: uppercase; color: #cc0033; text-decoration: underline; font-size: 12px;}
.box-str-container .content-box.txt-block{ width: 100%;}

/** sidebarNav Content **/
.cntnt-nav{font-size: 17px; padding: 20px 20px 0; width: 73%;}
.cntnt-nav > p{margin: 0 0 5px;}
.cntnt-nav > p:last-child{margin: 0 0 15px;}

/** womenSection **/
.clip-bg{background: url("../images/women/clip-bg.png") no-repeat right -6px, url("../images/big-divider.png") no-repeat center bottom / 100% auto rgba(0, 0, 0, 0); font-family: "ITCAvantGardeProMd", Arial; color: #58595B;}

/** textWomen **/
.contWom h4{font-size: 20px; color: #DE8A23; margin: 40px 0;}
.contWom h4 span{font-size: 35px; line-height: 42px; display: block; color: #58595B; margin: 10px 0 0;}
.contWom p{font-size: 21px; margin-bottom: 20px;}
.contWom p.block-link a{font-family: ITCAvantGardeProMd; font-size: 16px;}

/** colorStory IMG Section **/
.figCap{width: 45%; float: left; margin: 0 0 0 22px; }
.figCap span{display: block; padding: 40px 0 30px; font-size: 13px; color: #666;}
.figCap .figure{background: #d7ea98; width: 100%; height: auto;}
.figure > img{width: 100%;}

/** colorStoryDiv **/
.divider-btm{background: url("../images/big-divider.png") no-repeat center bottom / 100% auto rgba(0, 0, 0, 0);}
.divider-btm .contWom{padding: 40px 0 10px;}
.divider-btm .contWom h4{margin-top: 0;}
.clrImg{width: 66%; display: inline-block; float: right; text-align: left;}
.clrtxt{width: 34%; display: inline-block; text-align: left;}

/** Product Listing Page **/
.bannerFluid img, .bannerFluid{width: 100%; padding-bottom: 27px; position: relative;}
.bannerFluid img{padding-bottom: 0;}
.bannerFluid .bnrtxt{color: #fff; font: bold 48px ITCAvantGardeProMd; position: absolute; top: 175px; left: 85px;}
.product-grid .side-menu-bar{position: inherit;}
.product-grid .side-menu-bar{width: 20%}
.product-grid{display: inline-block;}

/** Product Heading **/
.product-grid h4{background: url("../images/divider-sml.png") no-repeat center bottom; font: normal 18px gothambold; color: #58595b; padding: 15px 0 40px; margin: 0 0 77px; text-transform: uppercase;}

/** categoryList Nav **/
.categorylinks{margin:50px 0 0; float: left; list-style-type: none;}
.categorylinks li, .categorylinks li a{font: normal 14px/24px gotham, arial !important; color: #58595b;}
.categorylinks li.sub-head{margin: 30px 0 0;}
.categorylinks li.sub-head > a, .categorylinks li a.bld{font-weight: bold !important;}
.categorylinks .subnav{padding: 0;}
.subnav > li{line-height: 20px;}
.sub-head.current > a{color: #CC0033;}

/** ProductsCotainer **/
.productCont{min-height: 420px; display: inline-block; margin: 0 34px 50px;}
.productCont .caption{display: block; font: bold 11px/16px gotham; margin: 30px 0 0; text-transform: uppercase;}
.productCont .caption span{display: block;font-weight: normal;}
.productCont .prod-img{width: 100%;}