/* Layout ================================================================================ */
.wrapper { min-width:100%;  margin:0 auto;}
.page {display:block; background: #fff; z-index: 2; position: relative;}
.page-print { background:#fff; padding:25px 30px; text-align:left; }
.page-empty { background:#fff; padding:0px; text-align:left; }
.page-popup { background:#fff; padding:25px 30px; text-align:left; }
.main-container { background:#fbfaf6 url(../images/bkg_main1.gif) 50% 0 no-repeat; }
.main { width:900px; margin:0 auto; min-height:400px; padding:25px 25px 80px; background:#fffffe url(../images/bkg_main2.gif) 0 0 no-repeat; text-align:left; }


/****Common Styles****/
.f-left{float: left;}
.f-right{float: right;}
.f-none{float: none;}
.l-align{text-align: left !important;}
.r-align{text-align: right !important;}
.c-align{text-align: center !important;}
.clear-fix{clear:both;}
.in-bl{display: inline-block !important;}
.bl{display: block;}
.gothambd{font-family: gothambold;}
.gothambk{font-family: gothambook;}
.no-wrap{white-space: nowrap;}
.pointer{cursor: pointer;}
.full-width{width: 100%;}
.white{color: white !important;}
.grey{color: #58595b !important;}
.lh-normal{line-height: normal !important;}
.no-display{display: none;}
.no-padding{padding: 0;}
.mtop10{margin-top: 10px;}

/****Header****/
/*#pagecontainer{min-width: 960px;}*/
.header-container { background-color: #FFFFFF; position: fixed; top: 0px; height : 90px; padding-top: 20px; width : 100%; z-index: 10003; min-width: 960px;}
.header{ padding:0 10px;}
.header .logo {margin:0;}
ul.main-menu{margin-left: 40px;}
ul.main-menu > li{display:inline-block; height: 90px; padding:0 10px; text-transform: uppercase; vertical-align: top; cursor:pointer;}
ul.main-menu li a,ul.tr-menu > li > ul.sub-menu li a{color: #58595b; font-size: 13px; line-height: 23px; font-family: gothambold;}
ul.main-menu li a.menu-heading{line-height: 80px; vertical-align: middle;}
ul.main-menu li ul.sub-menu{position: absolute; text-align: left; left: 0; margin: 10px 0 0; background: url("../images/nav-bg.png") repeat-x left top; padding: 10px 15px; display: none;}
ul.main-menu2 li ul.sub-menu{background-position: left top ;}
ul.main-menu li ul.sub-menu > li{display: inline-block; vertical-align: top; min-width: 160px; border-left: 1px solid #ccc; padding:0 0 0 15px; min-height: 120px;}
ul.main-menu2 li ul.sub-menu{width: 174px;}
ul.main-menu2 li ul.sub-menu>li{min-height: 100%; border: none; padding: 0;}
ul.main-menu li ul.sub-menu > li:first-child{border:none; padding:0;}
ul.main-menu li ul.sub-menu > li > ul:first-child a{font-family: gothambold;}
ul.main-menu li ul.sub-menu > li > ul a,ul.main-menu2 li ul.sub-menu > li > ul:first-child a,ul.tr-menu > li > ul.sub-menu li a{font-family: gothambook;}
ul.main-menu > li.smenu, ul.main-menu > li:hover, ul.main-menu2 > li.active{background: url("../images/menu_arrow.png") no-repeat bottom center; background-size: 17px 14px;}
ul.tr-menu{margin:5px 0;}
ul.tr-menu > li{display: inline-block; padding: 0 3px; position: relative;}
li.free-shipping{font-style: italic; margin-right: 15px;}
ul.tr-menu > li > ul.sub-menu{position: absolute; text-align: center; width:200px; padding:0; z-index: 9; display: none; text-transform: uppercase; }
ul.tr-menu > li > ul.sub-menu li{background: rgba(255,255,255,0.9); padding: 0 15px;}
ul.tr-menu > li > ul.sub-menu li.last{padding-bottom: 10px;}
ul.tr-menu > li > ul.sub-menu li.blank{height: 23px; background: url("../images/menu_arrow.png") no-repeat 79px bottom rgba(255,255,255,0.9); background-size: 17px 14px;}
ul.tr-menu > li:hover > ul.sub-menu{display: block;}
ul.main-menu2{margin-left: 0; margin-right: 25px;}
ul.main-menu2 > li{position: relative; padding-top: 2px; height: 60px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul.main-menu2 a.main-heading{display: block; height: 48px;}
ul.main-menu2 li ul.sub-menu li a{font-family: gothambook;}
ul.main-menu2 > li:hover > ul.sub-menu, ul.main-menu > li:hover > ul.sub-menu{display: block;}
.sub-menu a:hover{color:#cc0033 !important;}
/**Search Bar**/
.right-block{height: 80px;}
.search-bar{border: 1px solid black; width: 225px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	margin-right:3px;}
#search_input { width: 195px; height: 22px; border: medium none; font-family: gothamlight; font-size: 11px; letter-spacing: 0.4pt; }
#search-btn{background: transparent url("../images/search-icon.png") center no-repeat; border: none; width: 16px; height: 14px; font-size: 0; cursor: pointer; }

/**Home Page**/
.share-strip{padding: 25px 0; margin: 0 auto; width: 98%; font-size: 0; display: block;}
.share-strip .blk{width: 50%; display: inline-block;}
.share-strip ul li{ display: inline-block; padding: 0 5px; font-size: 12px; line-height: 21px;}
.newbg{background: url("../images/dvdr-new.jpg") no-repeat bottom center !important;}
.fabric-color{width: 90%; max-width: 1600px; margin: 0 auto;background: url("../images/big-divider.png") no-repeat , url("../images/big-divider.png") no-repeat; background-position: top center, bottom center; background-size:100%, 100%; height:auto; padding-bottom: 1px;}
.structure{width: 90%; margin: 0 auto;}
.block1{width: 65%;}
.block2{width: 35%; padding-top: 10%; padding-left: 3%;}
.block1,.block2,.block3,.block4{float: left; position: relative; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.block3{width: 46.33414076626522%;}
.block4{width: 53.66585923373478%;}
.block-text{position: absolute; top: 8%; left: 6%;font-family:ITCAvantGardeProMd; line-height: normal;}
ul.fabric-qua{position: absolute; bottom: 5%; width: 100%;}
ul.fabric-qua li{display: inline-block; color: #fff; text-align: center; font-size: 0.8em; padding: 0 15px; }
ul.fabric-qua li img{margin-bottom: 10px;}
p.block-head{font-size: 15px; color: #de8a23}
p.block-desc{font-size: 30px; color:#58595b;}
p.block-link{margin-top: 30px;}
p.block-link a{font-family: "AvantGardeGothicITCW01B"; color: #333; font-size: 14px; text-transform: uppercase; border-bottom: #cc0033 1px solid;}
p.block-link a span,p.block-link a strong{color: #cc0033 !important; font-weight: normal;}
.block-text2{position: absolute; bottom: 5%; left:6%; font-family:ITCAvantGardeProMd;}
.block-text2 p.bracelet-count{font-family: gothamlight; font-size: 120px; line-height: 90px; margin-left: -10px;}
.block-text2 span{font-size: 20px;}
.sl-desc-handle{cursor:pointer;position: absolute; width: 41px; right: 6px; bottom: -29px;}
.flexslider .slides .sl-desc-handle img{width: 80%;}
.slide-desc{display:none; position: absolute; right:41px; bottom:0; background-color:rgba(255,255,255,0.8); border-radius:2px; font-size: 12px; line-height: 18px; padding:15px !important; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color:#58595b; width:240px; height:auto;}

/****Flexslider next previous arror****/
.flex-direction-nav .flex-prev{background: url("../images/homepage/previous-slide.png") no-repeat bottom; background-size:100% 100%; width:24px; height: 46px;}
.flex-direction-nav .flex-next{background: url("../images/homepage/next-slide.png") no-repeat bottom; background-size:100% 100%; width:24px; height: 46px;}

/****Side bar****/
div.side-menu-bar, .side-menu-bar2{ width:270px; vertical-align:top;min-height: 300px; position: fixed;}
div.side-menu-bar ul, .side-menu-bar2 ul, .menu-bar ul{padding: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.side-menu-bar ul li a, .side-menu-bar2 ul li a, .menu-bar ul li a{text-transform: uppercase; font:14px/24px gothambold; color: #58595b;}
div.side-menu-bar ul li a span.arr, .side-menu-bar2 ul li a span.arr, .menu-bar ul li a span.arr{visibility: hidden;}
div.side-menu-bar2 ul li a.current,
div.side-menu-bar2 ul li a:hover,
div.side-menu-bar ul li a.current,
div.side-menu-bar ul li a:hover, 
.menu-bar ul li a.current, 
.menu-bar ul li a:hover{color:#cc0033;}

div.side-menu-bar2 ul li a.current span.arr,
div.side-menu-bar2 ul li a:hover span.arr, 
div.side-menu-bar ul li a.current span.arr,
div.side-menu-bar ul li a:hover span.arr, 
.menu-bar ul li a.current span.arr,
.menu-bar ul li a:hover span.arr{visibility: visible;}
/******CMS Page loader  ******/
.cms-loader{margin-top: 100px;}

/***Our Story***/
.pg-content{width:auto; margin: 0 0 0 270px; vertical-align:top; color: #58595b; line-height: normal;min-height: 300px;}
.os-banner{position: relative;font-size: 40px; min-height: 400px; }
.os-banner img{width: 100%;} 
.os-banner .banner-text{position:absolute; top:20%; left:7%; text-align: left;}
.banner-text p{font-family: ITCAvantGardeProBd; text-transform: uppercase;}
.banner-text span{font-family:"AvantGardeGothicITCW01B"; text-transform: inherit;}
.box-str-container{width: 95%; margin: 60px auto auto; }
.box-str{background: url("../images/big-divider.png") no-repeat bottom; padding-bottom:30px; margin-bottom: 30px;background-size: contain;}
.box-str-container .img-box{width: 37%; /*border: 1px solid #e1e1e1;*/ padding: 2px;}
.box-str-container .img-box img{width: 100%;}
.box-str-container .content-box{ width:62%; padding-left: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.content-box p{font: 14px/1.5 gothambook; margin-bottom: 22px; }
.content-box p:last-child{margin: 0;}
.box-str h2.heading, .detailImg .heading, .coloumn-list li span{font-family: ITCAvantGardeProBk; font-weight: bold; font-size: 23px; color: #58595b; margin-bottom: 45px; text-transform: uppercase;}
.box-str h2.heading span, .detailImg .heading span{font-weight: normal; display: block; text-transform: inherit; }
.box-str.inverse .content-box{padding-right: 20px; padding-left: 0;}
/****Footer****/
#sitemap{width: 85%; margin: 0 auto;margin-top:90px; word-wrap: break-word;}
.footer-block{width: 100%;}
.footer--block ul.site-map ul li{/*text-transform: uppercase;*/}
ul.site-map > li{color:#58595b; display: inline-block; vertical-align: top; text-align: left; width: 16%; margin:0; word-wrap:break-word; }
ul.site-map > li:first-child{}
ul.site-map > li a{color: #58595b; font-size: 11px;}
ul.site-map > li a:hover, div.copy-privacy-likes ul li a:hover{color: #CC0033;}
.online-status-icon{vertical-align: middle;}
ul.site-map ul.social-icons {margin-top: 4px;}
ul.site-map ul.social-icons li{display: inline-block; margin: 0 3px;}
div.copy-privacy-likes{margin-top: 50px; margin-bottom: 0;}
div.copy-privacy-likes ul li{display: inline-block; font-size: 11px; color: #58595b; vertical-align: top;}
div.copy-privacy-likes ul li:first-child{margin-left: 5px;}
div.copy-privacy-likes ul li a{font-size: 11px; color: #58595b}
div.copy-privacy-likes ul li img{height: 30px;}
.block3 img,.block4 img{width: 100%;}
#facebook-like,#twitter-follow{margin-right: 5px;}
.pt1{padding-top: 1px;}
.fb-icon, .twtr-icon, .pin-icon, .insta-icon{background: url("../images/footer/fb-icon.png") no-repeat center top; display: inline-block; height: 21px; width: 12px; margin-top: 5px;}
.twtr-icon{width: 25px; background-image: url("../images/footer/tw-icon.png");}
.insta-icon{width: 21px; background-image: url("../images/footer/insta-icon.png");}
.pin-icon{width: 21px; background-image: url("../images/footer/pin-icon.png");}

.fb-icon:hover{background-image: url("../images/footer/fb-icon-ovr.png");}
.twtr-icon:hover{background-image: url("../images/footer/tw-icon-ovr.png");}
.insta-icon:hover{background-image: url("../images/footer/insta-icon-ovr.png");}
.pin-icon:hover{background-image: url("../images/footer/pin-icon-ovr.png");}


/***Sign In Popup***/
#signing_popup,#invite_friends{padding: 0px;}
.signinDialog{width: 750px !important; min-height: 300px;/* z-index: 10012 !important;*/ border: none; position: fixed; padding: 0 !important; background:#fff 50% top repeat-x; background-size: cover; overflow: initial; font-family: gothambook; color:#58595b !important;}
.sign-up-block,.sign-in-block{width: 280px; padding: 0 47.5px;}
.sign-up-block{background: url("../images/popups/pop-up-divider.png") right no-repeat;}
.signinDialog .ui-widget-header,.sharingDialog .ui-widget-header{border:none; background: none; font-weight: bold;}
.sharingDialog .ui-widget-header{margin-top: -33px;}
#sign-up-form table td,#sign-in-form table td,
#invite-friend-form table td{padding-bottom: 15px;}
/*#sign-up-form table label,#sign-in-form table label{width: 30%; float: left; word-wrap:break-word; line-height: 26px;}*/
#sign-up-form table input,
#sign-in-form table input,
#invite-friend-form table input{width: 100%; padding: 7px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#sign-up-button,#sign-in-button {cursor:pointer;}
.err-msg{color:#D90D3D;}
.signinDialog.ui-dialog .ui-dialog-titlebar-close,
.sharingDialog.ui-dialog .ui-dialog-titlebar-close{top: -0.2em; right: -1.2em; width: auto; height: auto; z-index: 500;}
.sharingDialog.ui-dialog .ui-dialog-titlebar-close{top:2em;}
.signinDialog .ui-icon-closethick,
.sharingDialog .ui-icon-closethick{background: url("../images/pop-close.png") no-repeat bottom; border:none; background-size: contain; width: 30px; height: 30px;}
.signinDialog .ui-state-hover,
.sharingDialog .ui-state-hover{border:none !important;background:none !important;padding:1px!important}
.form-heading{font-size: 22px;}
.thank-you-block p{display: block; text-align: center; font-size: 36px; width: 100%; margin-top: 30px;}
#sign-in-form a.forgot-link { font-family: HelvLightRegular; font-size: 11px; text-decoration: underline; color: #9B9B9B;}
#sign-in-form a.forgot-link:hover{color:#cc0033;}

/***Share with your friend popup***/
.sharingDialog{width: 640px !important; min-height: 300px; /*z-index: 10011 !important;*/ border: none; position: fixed; padding: 0 !important; background:#fff 50% top repeat-x; background-size: cover; overflow: initial; font-family: gothambook; color:#58595b !important;}
.invite-left{width:260px; /*height:333px;*/ background-color: #ccc;}
.invite-right{width:305px; padding:30px 37.5px 0;}
#invite-friend-form{width: 285px; margin: 0 auto;}
.smogi-love-msg{margin-bottom: 45px;}
.mt100{margin-top: 100px; margin-bottom: 0;}
.invite-message{font-size: 18px;}

/****First Time Pop Up Home page****/
/*.firstdialog{z-index: 10003 !important;}*/
.firstdialog { border: none; position: fixed; padding: 0 !important; background: transparent url("/skin/frontend/yogasmoga/yogasmoga-theme/images/popup_bg_circle.png") 50% top repeat-x ; background-size: cover ; }
.firstdialog .ui-widget-header { border:none; background: none; font-weight: bold; }
.firstdialog .ui-dialog-titlebar-close{right: 7.3em ; top: 100% ; width: auto ; height: auto ; z-index: 500;}
.firstdialog .ui-state-hover{border: none ; background: none ; padding: 1px !important;}
.firstdialog .ui-icon-closethick{background:url("/skin/frontend/yogasmoga/yogasmoga-theme/images/pop-close.png") no-repeat ; width: 41px; height: 42px; background-position: 0 0;}
#popup-register{font-family: ITCAvantGardeProBk; font-size: 13px;color: #fff;position: absolute; bottom: 14%; left: 25%;}
#popup-register td{border: 0; border-bottom: 1px solid #ffffff; margin-bottom: 5px;}
#popup-register td input{width:100%; border: none; background: transparent;color: #fff;font-family: ITCAvantGardeProBk;}
#popup-register td label{ padding-right: 10px;}
#popup-register .errortext{font-family: ITCAvantGardeProBk; font-size: 11px; color: #fff; height: 13px; vertical-align: top !important; min-height: 13px; border: none;}
#popup-register .errortext div{display: none;}
#popup-register input[type="submit"]{margin-top: 25px; cursor: pointer;}
#map-fabrics table td img{width: 100%;}
#map-fabrics table td{position: relative;}
.fab_text {position: absolute; top:10%; width: 100%; text-align: center; font-family: ITCAvantGardeProBk; font-size: 30px; color: #666666}
.fab_text h3{font-family:ITCAvantGardeProBk,gotham,Arial; font-weight: normal; font-size: 30px; color: #dd8820; text-tansform: uppercase; font-style: normal;}
.fab_text h3 span{font-family:  ITCAvantGardeProBd,gotham-b,Arial;}
.fab_text span.gold_divider{display: block;}
.fab_text span.gold_divider img{width: auto !important; margin: 40px 0;}
div.sub-fab{display: inline-block; margin: 0 15px; font-size: 28px; width:40%;}
div.sub-fab img{width: 45% !important; display: block; margin:25px auto 0 auto;}
.ui-widget-overlay { background: #777777 50% 50% repeat !important; opacity: .5;filter:Alpha(Opacity=50); z-index: 100 !important; }
.firstdialog{width: 500px !important; height: 500px !important;}
#signup{height: 455px !important; padding: 0 !important;}

/***Fake password hack***/
#o_password,tr.orig_password{display: none;}


/****Women Landing page****/
div.new-arrivals-block{background: url("../images/big-divider.png") no-repeat top,url("../images/big-divider.png") no-repeat bottom; padding: 30px 0; background-size: 100%,100%;}
ul.new-arrivals{width: 90%; display: block; text-align:center; font-size: 0; margin: 0 auto;}
ul.new-arrivals li{display: inline-block; width:20%; vertical-align: top; height:auto; max-width: 221px; max-height: 430px; margin-top: 40px;}
ul.new-arrivals li img{ margin: 0 auto; display: block;}
ul.new-arrivals li span{font-size: 12px; display: block; color: #58595b; text-transform: uppercase;}
ul.new-arrivals li img.prd-image{width: 90%;}
ul.new-arrivals a.quick-view{min-height: 300px; display: inline-block; width: 100%;}
.prd-details{margin-top: 30px;}
.prd-details .prd-price{margin-bottom: 10px;}
li.new-arrivals-desc{text-align: left; font-family: ITCAvantGardeProMd; margin-top: 0 !important;}
li.new-arrivals-desc .block-head{margin-bottom: 5px; font-size: 18px;}
li.new-arrivals-desc .block-desc{margin-bottom: 25px; font-size: 35px;}
li.new-arrivals-desc .block-link a, .block-link a{font-family: ITCAvantGardeProMd; font-size: 14px;}

/** YS-Tech Section **/
.discImg{margin: 40px 0 20px;}
ul.arw-list{display: block; margin: 0 0 25px 0; padding: 0; font-size: 13px;}
ul.arw-list li{background: url("../images/list-arw.png") no-repeat 0 4px; display: block; line-height: 1.3; padding: 0 0 10px 15px;}
sup {font-size: 11px; height: auto; line-height: inherit; padding: 0;}

/** StorySection **/
.wht-txt{color: #fff;}
a.readtxt{ text-transform: uppercase; color: #cc0033; text-decoration: underline; font-size: 12px;}
.box-str-container .content-box.txt-block{ width: 100%;}

/** sidebarNav Content **/
.cntnt-nav{font-size: 15px; line-height: 20px; word-wrap: break-word; padding: 20px 0 0 20px; width: 80%;}
.cntnt-nav > p{margin: 0 0 5px;}
.cntnt-nav > p:last-child{margin: 0 0 15px;}

/** womenSection **/
.clip-bg{background: url("../images/women/clip-bg.png") no-repeat right -6px, url("../images/big-divider.png") no-repeat center bottom / 95% auto rgba(0, 0, 0, 0);}
.clip-bg .featured-product.contWom{padding: 0 !important;}

.divider-btm .featured-product.contWom, .clip-bg .featured-product.contWom{margin: auto auto 0; padding: 40px 0 0; width: 70%; font-family: "ITCAvantGardeProMd", Arial; color: #58595B;}
.divider-btm{background: url("../images/big-divider.png") no-repeat center bottom; background-size: 95% auto; text-align: left;}

.divider-btm .contWom h4{margin-top: 0;}
.contWom h4{font-size: 18px; color: #DE8A23; margin: 40px 0;}
.contWom h4 span{font-size: 35px; line-height: 40px; display: block; color: #58595B; margin: 10px 0 0;}
.contWom p{font-size: 20px; margin-bottom: 20px;}
.contWom p.block-link a{font-family: ITCAvantGardeProMd; font-size: 14px;}
.contWom p.block-link{margin: 0;}

.ftr-txt{float: left; width: 45%; text-align: left;}
.ftr-img{float: right; width: 55%;}
.ftr-img > img{float: right;}

.figCap{width: 47%; float: right; margin: 0 0 0 3%; }
.figCap span{display: block; padding: 40px 0; font-size: 13px; color: #666;}
.figCap .figure{background: #d7ea98; width: 100%; height: auto;}
.figure > img{width: 100%;}


/** Product Listing Page **/
.bannerFluid img, .bannerFluid{width: 100%; padding-bottom: 27px; position: relative;}
.bannerFluid img{padding-bottom: 0;}
.bannerFluid .bnrtxt{color: #fff; font: bold 48px ITCAvantGardeProMd; position: absolute; top: 175px; left: 85px;}
.product-grid .side-menu-bar{position: inherit;}
.product-grid .side-menu-bar{width: 20%}
.product-grid{display: inline-block; width: 100%;}

.product-grid h4{background: url("../images/divider-sml.png") no-repeat center bottom; background-size: 100% auto; font: normal 18px gothambold; display: inline-block; width: 100%; color: #58595b; padding: 15px 0 29px; margin: 0 0 77px; text-transform: uppercase;}

.ctglink{margin:55px 0 0; float: left; list-style-type: none;}
.ctglink li, .ctglink li a{font: normal 13px/24px gotham, arial !important; color: #58595b; text-transform: uppercase;}
.ctglink li.sub-head{margin: 30px 0 0;}
.ctglink li.sub-head > a, .ctglink li a.bld{font-weight: bold !important;}
.ctglink .subnav{padding: 0;}
.subnav > li{line-height: 20px;}
.sub-head.current > a{color: #CC0033;}

.productCont{min-height: 420px; display: inline-block; margin: 0 34px 50px; float: left; width: 230px;}
.productCont .caption{display: block; font: bold 11px/16px gotham; margin: 30px 0 0; text-transform: uppercase;}
.productCont .caption span{display: block;font-weight: normal;}
.productCont .prod-img{width: 100%; height: 330px; margin: auto; text-align: center;background: url("../images/new-loader.gif") no-repeat center center; overflow: hidden;}
.prd-image{width: auto; height: auto; -webkit-width: 100%; -webkit-height: 330px;}
.prd-image:first-child{}

/** Product Details Page **/
.block-elm.btm-devider, .block-elm.btm-devider-big, .product-details .block-head, .product-details h2{background: url("../images/big-divider.png") no-repeat center bottom; background-size: 100% auto;}
.block-elm.btm-devider{padding-bottom: 40px;}
.product-details .block-head{margin-bottom: 50px; text-transform: uppercase; font: 18px gothambold; padding: 4px 0 20px;}
.product-details h2{font: normal 25px gothambold; color: #58595B; text-align: center; text-transform: uppercase; padding: 0 0 20px; margin: 0 0 35px;}
.product-details h2{font-size: 17px;}
.block-elm{width: 70%; text-align: left; display: inline-block; clear: both; margin: auto auto 40px; color: #58595B; font: 13px/18px gothambook;}
.block-elm.btm-devider-big{margin: 0; padding-bottom: 50px; text-align: center; width: 90%;}
.wdth65{width: 63%; float: left; margin: 0 2% 0 0;}
.wdth35{width: 35%; float: left;}

.featureList{width: 100%;}
.featureList > li:first-child{margin: 0 1% 0 0;}
.featureList > li:last-child{margin: 0 0 0 1%;}
.featureList > li{display: inline-block; float: left; margin: 0 1%; width: 18.2%;}
.featureList span{display: block; margin: 20px 0; text-transform: capitalize;}
.featureList span.ftrFig{/*background: #E5E9EC;*/ margin: 0; }
.featureList span.ftrFig img{width: 100%; }

.similarProdList{margin: auto; width: 80%; font-size: 12px;}
.similarProdList > li{float: left; width: 100%; margin: 0 0 20px;}
.similarProdList span{float: left; line-height: 20px; text-transform: uppercase; margin: 0 5% 0 0; text-align: center; width: 55%;}
.similarProdList span:nth-child(2){width: 38%; margin: 0; text-align: left;}
.similarProdList span strong{display: block; font-weight: bold;}

.reviewTxt{font: 19px/30px gothambold; margin: auto auto 40px; text-transform: uppercase;}
.reviewTxt > span{text-transform: none; font-family: gothambook;}
.block-elm .block-link a{color: #cc0033; font-size: 11px;}

.fabDetail > h2{font: 43px ITCAvantGardeProBk; background: none; margin: -14px 0 0;}
.fabDetail h2 sup{font-size: 22px;}
.fabDetail ul{margin-bottom: 20px;}
.fabDetail li{font-size: 11px; text-align: center; text-transform: uppercase; line-height: 15px; width: 23%; word-wrap: break-word; display: inline-block; margin: 0 0.5%;}
.fabDetail li:first-child{margin: 0 0.5% 0 0;}
.fabDetail li:nth-child(4){margin: 0 0 0 0.5%;}
.fabDetail li span{display: block; margin-bottom: 10px;}

.fitDetail .wdth35{float: left; width: 29%; margin: 0 8% 0 0;}
.fitDetail .wdth65{float: left; width: 58%;}
.fitDetail tr:first-child td{border-bottom: 1px solid #58585A; font-weight: bold; padding: 0 6px 6px;}
.fitDetail td{border-right: 1px solid #DCDCDC; font-size: 11px; text-transform: uppercase; padding: 6px;}
.fitDetail td:first-child{font-weight: bold; padding: 6px 0; width: 27%;}
.fitDetail td:last-child{border-right: 0 none;}
.fitDetail td span{font-weight: normal;}
.fitDetail li{list-style: disc inside; line-height: 20px;}
.size{font-size: 11px; text-transform: uppercase; font-weight: bold;}
.video-block, .video-block img{width: 100%;}

.thumb-imgs{float: left; left: -130px; margin: 0; position: absolute; text-align: center; width: 18%; min-width: 18%; max-width: 138px;}
.thumb-imgs img{width: 90%;}
.thumb-imgs td:last-child{margin-bottom: 0;}

.show-prodImg{width:100%; margin:0 2% 0 0; float: left;}

.gry-box{background: #ededed; padding: 10px 15px; margin-bottom: 10px;}
.prdname{border-bottom: 1px solid #fff; font: 28px ITCAvantGardeProBk; margin: 0 0 15px; padding: 0 0 10px;}
.amount {clear: both; display: block; margin: 5px 0 0;}
.box-seprtr {border-bottom: 1px solid #FFFFFF; margin: 0 0 15px; padding: 0 0 10px;}
.box-seprtr.last{padding: 0; margin: 0; border-bottom: 0 none;}
.blck-head-sml {text-transform: uppercase;}
.blck-head-sml span {display: inline-block; font-family: gothambold; width: 60px;}
.size-list {margin: 15px 0 0;}
.size-list > li {border: 1px solid #A9A9A9; display: inline-block; margin: 0 11px 0 0; padding: 8px 12px; text-align: center;}
.color-option {margin-top: 15px;}
.color-option > li {display: inline-block; padding: 3px;}
.color-option > li.selected {border: 1px solid #7D7D7F;}
.color-option span {display: block;}
.addtobag{background: url("../images/product/addtobag-btn.png") no-repeat center top; font-family: gothambold; color: #fff; text-align: center;	margin: 10px 0 15px; padding: 14px 0; text-transform: uppercase; width: 100%; display: block;}
.addtobag:hover{text-decoration: underline; color: #fff;}

.box-desc-dvdr{border-bottom: 1px solid #999; padding: 0 0 15px; margin-bottom: 15px;}
.font11{font-size: 11px;}

.earnbucks{display: inline-block;}
.badges {background:#58585A; border-radius: 13px; color: #FFFFFF; display: inline-block; font: 14px gothammedium; margin: 0 0 5px; padding: 5px 9px;}
.earnbucks p {margin: 0;}
.wishlist {display: inline-block;float: right;}
.social-ico {margin-bottom: 9px;}
.social-ico img {margin: 0 5px;}
.wishlist-link > a {border-bottom: 1px solid #CC0033;}
.box-desc-dvdr.last {margin: 0;}
.chatlink {border-bottom: 1px solid #CC0033;font-size: 11px;margin: 0 0 0 20px;text-transform: uppercase;}
.online {color: #999999; float: right; font-style: italic; font-weight: bold; text-transform: capitalize;}
.online > span {background: #00A14B; border-radius: 10px; display: inline-block; height: 9px; margin: 0 4px 0 0; width: 9px;}
.readmore {color: #CC0033; font-size: 11px; margin: 0 5px; text-decoration: underline; text-transform: uppercase;}
.fitDetail > div{float: left; max-width: 32%;}
.fitDetail > div.tble{margin: 0 4%; min-width: 60%;}
.fitDetail table{display: inline-block; margin: 25px 0 0; width: 100%;}
.top-divider{background: url("../images/dvdr-new.jpg") no-repeat center top; background-size: 100% auto; margin: 40px 0 0; padding: 0;}
.menu-bar.cntn-scroll.f-left.l-align {width: 270px;}

/** ShoppingCart **/
.shopping-cart{background: #eeefef; color: #58595b;  overflow: auto; position: fixed; right: 0; width: 400px; display: none; z-index: 1; font: 13px gothambook; text-transform: capitalize;;}
.continuelink{background: url("../images/shopping-cart/gry-btn.png") no-repeat top left; margin: 0; padding: 16px 5px; width: 45%; display: inline-block; font: 12px gothambold;}
.continuelink.grn{background-image: url("../images/shopping-cart/grn-btn.png"); color: #fff;}
.cont-full{margin: 0 0 20px; padding: 20px;}
.totalAmnt{border-bottom: 1px solid #dbdbdb; padding: 0 0 10px; margin: 0 0 10px; font-size: 16px; width: 100%; float: left;}
.cont-full li, .cont-full > ul{display: inline-block; width: 100%;}
.cont-full > ul{margin: 0 0 20px;}
.cont-full li{padding: 5px 0;}
.capstxt{text-transform: uppercase;}
.strip-gry{background: #999; color: #fff; font-style: italic; text-transform: none; margin: 10px 0 0; text-align: center; padding: 10px; clear: both;}

.adddields {clear: both; float: left; width: 100%; margin: 0 0 15px;}
.adddields > form {display: block;}
.adddields label {float: left; min-height: 40px; width: 100%;}
.adddields input {background: #fff; text-transform: capitalize; border: 0 none; display: block; float: left; font: italic 12px gothambook; height: 20px; margin: 0; padding: 5px 12px; width: 84%;}
.adddields input.gry{background: #B3B3B3; cursor: default; color: #fff;}
.adddields span {background: 0 #eeefef; border: 1px solid #B3B3B3; float: left; height: auto; padding: 7px 4px 6px; width: 6%;}
.addedItem {background: #fff; float: right; width: 99.5%;}
.addedItem .similarProdList {font-size: 11px; width: 90%; text-transform: uppercase;}
.addedItem .similarProdList > li {border-bottom: 1px solid #E6E6E6; margin: 0; padding: 10px 0; position: relative;}
.addedItem .similarProdList > li:last-child{margin: 0; padding: 10px 0 0}
.addedItem .similarProdList span {width: 40%;}
.addedItem .similarProdList span:nth-child(2) {width: 55%;}
.capsnone{text-transform: none !important;}
.amnt, .quantity{margin: 0 0 6px !important;}
.addedItem .similarProdList span span:nth-child(2), .addedItem .similarProdList span span {display: block; text-align: left; width: 100%;}
.addedItem .similarProdList span span.pname{font-weight: bold;}
.addedItem .close{background: url("../images/shopping-cart/close.gif"); width: 12px; height: 13px; position: absolute; top: 15px; right: 0;}


/** checkoutPage **/
.checkout-detail{width: 100%; display: inline-block; color:#58595b; font:12px/20px gothambook, arial;}
ul.checkout-cont{margin: 0; padding: 0; width: 100%; list-style: none; margin:20px 0 0;}
ul.checkout-cont li {float:left; margin: auto; border-left:1px solid #fff; min-height: 600px; padding: 20px 0 0; position: relative; width: 33.2%;}
ul.checkout-cont li.active{background: url('../images/big-divider.png') no-repeat center top; background-size: 100% auto;}
ul.checkout-cont li .ovrlay-bg{display: none; background: #d6d6d6; height: 100%; width: 100%; position: absolute; top: 0; left: 0; opacity: 0.5;}
ul.checkout-cont li.active .ovrlay-bg{display: none;}
.checkout-details{padding: 38px 20px 20px; display: block;}
.headD{font: 30px/40px itcavantgardeprobk, Arial; text-align:center; text-transform:uppercase; margin-bottom:30px;}
.gryWrap {
    background: none repeat scroll 0 0 #ededed;
    margin: auto auto 25px;
    padding: 15px;
    text-align: left;
}
span.address {
    font-weight: normal !important;
}
.gryWrap span{clear:both; display:block;}
.gryWrap span:nth-child(1) {
    display: inline;
    font-weight: bold;
}
.selectAddress, .shippingOption {
    border: 1px solid #9f9f9f;
    margin: auto auto 20px;
    padding: 8px;
    text-align: left;
    width: 94%;
}
ul.checkout-cont li > .selectAddress ul li,
ul.checkout-cont li > .shippingOption ul li {
    clear: both;
    display: inline-block;
    margin: 0;
	cursor:pointer;
    max-width: inherit !important;
    min-height: inherit !important;
    min-width: inherit !important;
    padding: 0 0 5px;
    width: 100% !important;
}
ul.checkout-cont li > .selectAddress ul li span{
	font-weight:bold;
	margin: 0 5px 0 0;
}
.selectAddress > span {
    display: inline-block;
}
.addnewBtn {
    width: 100%;
	background: url('../images/gryBtn.jpg') no-repeat center top;
	background-size: 100% auto;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 10px 0 0 !important;
    padding: 2px 0 !important;
    text-align: center;
    text-transform: uppercase;
}
.showShippingOpt, .showUpdateAdd{display:none; border-top: 1px solid #9f9f9f; margin: 8px 0 0; padding: 8px 0 0;}
.showUpadd, .showShpOpt{background: url('../images/arwbtm.jpg') no-repeat top left; width:17px; height:13px; float:right; margin:5px 0 0; cursor:pointer;}
.showUpadd.reverse, .showShpOpt.reverse{background: url('../images/arwtop.jpg') no-repeat top left;}
.continueBtn{
	background: url('../images/contBtn.jpg') no-repeat top left;
    color: #fff;
    font: 12px gothambold;
    margin: auto;
    padding: 16px 0;
    text-transform: uppercase;
    width: 301px;	
    cursor: pointer;
}
.shipDetail {
    float: left;
    font: 13px gothambook !important;
    margin: 0 0 15px;
    padding: 5px 0 0;
    width: 100%;
}
span.country {
    background: none repeat scroll 0 0 #ddd;
    float: right;
    height: 23px;
    width: 36px;
}
.countryOption {
    display: none;
}
.addNewAdd .gryWrap form label select,
.addNewAdd .gryWrap table.inputtable td select {
    background: none repeat scroll 0 0 #fff;
    display: block;
    font: italic 12px gothambook;
    height: 36px;
    padding: 9px 5px 5px;
    width: 271px;
}
.addNewAdd .gryWrap label {
    display: block;
    margin: 5px 0 1px 5px;
}
.addNewAdd form {
    display: inline-block;
}
.addNewAdd .gryWrap input, 
.addNewAdd .gryWrap table.inputtable td input {
    border: 0 none;
    font: italic 12px gothambook;
    height: 22px;
    padding: 7px 8px;
    width: 94%;
}
#checkout-shipping-form table.inputtable.wdth50 .inputholder > input {
    width: 85% !important;
}
#checkout-shipping-form table.inputtable td.errortext {
    height: 10px !important;
    font-family: gothambook;
    line-height: 15px;
    padding: 5px 0 0;
}
#tblcheckoutsteps div.errormsg{
	text-align: center !important;
	font: 12px gothambook !important;
}
#checkout-shipping-form table.inputtable td.errortext{
	width: 90%;
}
#checkout-shipping-form table.inputtable.wdth50 {
    float: left;
    width: 50% !important;
}
#checkout-shipping-form table.inputtable.wdth20 {
    float: left;
    width: 19% !important;
}
#checkout-shipping-form table.inputtable.wdth20 .inputholder > input {
    width: 69% !important;
}

#checkout-shipping-form table.inputtable.wdth30 {
    float: left;
    margin: 0 6px;
    width: 26% !important;
}
#shipping\:region_id {
    width: 100% !important;
}
/* For general iPad layouts */
@media only screen and (device-width: 768px) {
	.sizechartlink p.block-link{float: left;}
	#absproductoptions table.productdetailtable div#sizecontainer table td div{width: 25px; padding: 2px; margin: 0 5px 0 0;}
	.madeinusa-txt{font-size: 26px !important;}
	.structure p.block-desc{font-size: 20px;}
	.structure p.block-link a{font-size: 12px;}
	.structure p.block-head{font-size: 14px;}
	.os-banner{min-height: 250px;}
	.contWom h4, li.new-arrivals-desc .block-head{font-size: 15px;}
	li.new-arrivals-desc .block-head{padding: 0; text-align: left;}
	.contWom h4 span, li.new-arrivals-desc .block-desc, .os-banner, .bannerFluid .bnrtxt{font-size: 24px; line-height: 28px;}
	.contWom p, div.side-menu-bar ul li a, .menu-bar ul li a{font-size: 14px;}
	.contWom p.block-link a, li.new-arrivals-desc .block-link a{font-size: 12px;}
	.box-str h2.heading{font-size: 16px;}

	/** ProductDetail Page **/
	.block-elm{font-size: 11px;}
	.prdname{font-size: 20px;}
	.gry-box{padding: 10px;}
	.blck-head-sml span{width: 50px;}
	.size-list > li{margin: 0 2px 0 0; padding: 8px 2px; width: 26px;}
	.wishlist{width: 50%;}
	.earnbucks{margin: 0 2% 0 0; width: 48%;}
	.social-ico img{margin: 0 0 0 5px;}
	.online, .chatlink{margin: 0;}
	.thumb-imgs{width: 100px;}

	.fitDetail > div.tble, .fitDetail > div.video-box{max-width: 100%; float: left; margin: 0 0 15px; clear: both;}
	.fitDetail > div.tble{max-width: 94%; margin: 0;}
	.video-box p{margin: 0 0 10px;}
	.video-box p.block-link a, div.tble p.block-link a{font-size: 10px;}
	.video-box ul, .vlink-cont{float: left; width: 50%;}

	.adddields input, .shopping-cart, .continuelink{font-size: 11px !important;}
	.totalAmnt{font-size: 14px;}
	.adddields input{width: 75% !important;}

	/** checkout Dettail Page **/
	ul.checkout-cont li.active{background: url("../images/divider-sml.png") no-repeat center top;}
}
.shdow-search-box {box-shadow: 0 0 3px rgba(219, 135, 38, 1); -webkit-box-shadow: 0 0 3px rgba(219, 135, 38, 1); -moz-box-shadow: 0 0 3px rgba(219, 135, 38, 1); border: 1px solid rgba(219, 135, 38, 1);}

/** SMOGI Bucks Page **/
.smogi-bucks .box-str {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); margin: 0 0 50px; padding: 0;}
.smogi-bucks .box-str .heading {margin: 0 0 10px;}
.smogi-bucks .content-box {padding: 0;width: 100%;}
.content-box ol li:last-child {padding-bottom: 0;}
.content-box ol li {font: 14px/1.5 gothambook;list-style: decimal inside none;padding: 0 20px 15px;}
.smogi-bucks .content-box ul {margin-top: 20px;}
.smogi-bucks .content-box ul li {font: 14px/35px gothambook;list-style: none outside none;}

/** productDetailPage **/
.smallimagecontiner td.selectedimage {opacity: 0.5;}
.smallimagecontiner td {display: block;opacity: 1;}

/* MailSlider*/
.flexslider .slides img {}
.madeinusa-txt{width: 100%; font: 38px itcavantgardeprobk; text-transform:uppercase;position: absolute;top: 0;left: 0;}
.madeinusa-txt div{width: 100%; height: 100%; vertical-align: middle; }
.madeinusa-txt span{display: block; clear: both; font-family: itcavantgardepromd;}
.breadcrumb, .breadcrumb a{color: #58595B;}
.cntn-scroll{position: absolute;}

@media only screen and (max-width : 1024px) {
.fitDetail > div.tble, .fitDetail > div.video-box{max-width: 100%; float: left; margin: 0 0 15px; clear: both;}
.fitDetail > div.tble{max-width: 94%; margin: 0;}
.video-box p{margin: 0 0 10px;}
.video-box p.block-link a, div.tble p.block-link a{font-size: 10px;}
.video-box ul, .vlink-cont{float: left; width: 50%;}
.gry-box{float: right; width: 90%;}
table.productimagecontainer table.tdbigimagecontainer td img{width: 95%; float: right;}
.show-prodImg{width: 82%; margin: 0; float: right;}
.thumb-imgs{left: 0;}

/** resizing fontsize **/
ul.main-menu li a,ul.tr-menu > li > ul.sub-menu li a{font: bold 11px gothambook;}
.share-strip ul li, p.block-link a, ul.new-arrivals li span{font-size: 11px;}
.block-head{font-size: 13px;}
p.block-desc, .madeinusa-txt, li.new-arrivals-desc .block-desc{font-size: 25px;}
p.block-link{margin-top: 20px;}
li.new-arrivals-desc .block-head, .contWom h4, .contWom p{font-size: 15px;}
li.new-arrivals-desc .block-desc{margin-bottom: 0;}
li.new-arrivals-desc .block-link a, .block-link a, .contWom p.block-link a{font-size: 12px;}
ul.new-arrivals a.quick-view{min-height: inherit;}
.contWom h4 span{font-size: 25px; line-height: 35px;}
.contWom h4{margin: 30px 0 20px;}
ul.main-menu li ul.sub-menu > li > ul:first-child a{font: bold 11px gothambook;}
ul.main-menu li ul.sub-menu > li > ul a, ul.main-menu2 li ul.sub-menu > li > ul:first-child a, ul.tr-menu > li > ul.sub-menu li a, ul.main-menu2 li ul.sub-menu li a{font-weight: normal;}
.productCont{margin: 0 20px 50px; width: 205px;}
.product-details .block-head{font: bold 15px gothambook;}
.ctglink li, .ctglink li a{font: 12px/23px gothambook !important;}
div.side-menu-bar ul li a, .side-menu-bar2 ul li a, .menu-bar ul li a{font: 13px/23px gothambold;}
.os-banner{font-size: 30px;}
.banner-txt3{font-size: 25px;}

/** minWidth **/
.clip-bg .featured-product.contWom, .divider-btm .featured-product.contWom{width: 90%;}
.box-str-container{width: 100%;}
.cntnt-nav{width: 90%;}
.wdth-sml{width: 520px !important; margin-right: 4px !important; background: url("../images/dvdr-new.jpg") no-repeat center top !important; background-size: 100% auto !important;}
.pr-icon{width: 160px !important;}
.cont-icon li{width: 170px !important;}
}

.dnone.dblock, .dblock{display: inline !important;}
.dnone{display: none !important;}
.detailImg{position: relative; width: 100%; margin: 25px 0 0; clear: both; display: inline-block;}
.detailImg .heading {color: #fff;left: 4%;line-height: 33px;position: absolute;text-align: left;top: 18%;}
.detailImg.nomrgn{margin: 0;}
.detailImg > img {width: 100%;}
.heading.gryedtxt {color: #58595b;margin: 0;}
.raising-funds p{margin: 0;font-size: 13px;}
.raising-funds .num{color: #cc0033;font: 74px gothamlight;margin: 0 0 5px;}
.raising-funds .addbracelet{margin: 12px 0 0;display: inline-block;clear: both;}
.coloumn-list ul, .coloumn-list li{list-style-type: none;}
.coloumn-list ul{font-size: 13px; line-height: 20px; margin: 20px 0 0;}
.coloumn-list li{float: left; margin: 15px 0 0; padding: 25px 0 0; text-align: left; width: 30%; background: url("../images/divider-sml.png") no-repeat center top; background-size: 100% auto;}
.coloumn-list li span{color: #58595b; display: block; margin: 0 0 25px; font-size: 21px;}
.coloumn-list li:nth-child(2){margin: 15px 30px 0;}

/** settingWidth **/
.block-elm, div.new-arrivals-block, .clip-bg, .divider-btm, #pagecontainer, .fabric-color{min-width: 990px; max-width: 1600px;}
#pagecontainer .2-columns-wrapper{width: 98%; margin: auto;}
.fullscreenovfhidden{max-width: 2200px; min-width: 990px;}

/** termsPage **/
.terms-page{width: 90%; margin: auto;}
.terms-page h1{display: block; font: normal 20px ITCAvantGardeProBk, gothambook; text-transform: uppercase; text-align: center; padding: 0 0 15px; margin: 0 0 15px; background: url("../images/big-divider.png") no-repeat bottom center; background-size: 100% auto; color: #58595b;}
.terms-page h2, .contentWrap h2{font: 13px gothambold; color: #676767; margin: 40px 0 15px; text-transform: uppercase;}
.contentWrap{width: 80%; display: inline-block; text-align: left; font: 12px/20px gothambook; color: #58595b; margin: 0 auto;}
.contentWrap a{color: #d90d3d;}
.blockCont{width: 95%;}

/** HelpPage **/
.contact-summary{width: }
.contact-summary ul, .contact-summary ul li{list-style-type: none;}
.contact-summary li{margin: 0; width: 32%; font-size: 11px; line-height: 18px; display: inline-block; text-align: center; background: url("../images/dvdr-new.jpg") no-repeat center top; background-size: 100% auto; padding: 15px 0 0;}
.contact-summary span{font-family: gothambook; font-weight: bold; text-transform: uppercase;}
.call-icon, .chat-icon, .email-us{width: 50px; height: 30px; display: block; margin: auto; background: url("../images/icon-call.png") no-repeat left center;}
.chat-icon{background-position: center center;}
.email-us{background-position: right center;}
.product-care-icon{width: 200px; font-size: 11px; text-transform: uppercase; float: left; text-align: center; padding: 20px 0 0; margin: 40px 0 0; background: url("../images/dvdr-new.jpg") no-repeat center top, url("../images/dvdr-new.jpg") no-repeat center bottom; background-size: 100% auto;}
.product-care-icon li{margin-bottom: 20px;}
.prd-txt{width: 100%; float: left;}
.machine-wash, .tumble-dry, .bleach, .iron, .dry-clean{width: 40px; height: 30px; display: block; margin: auto; background: url("../images/care-icon.png") no-repeat center -5px;}
.tumble-dry{background-position: center -66px;}
.bleach{background-position: center -128px;}
.iron{background-position: center -186px;}
.dry-clean{background-position: center -246px;}
.septr{background: url("../images/divider-sml.png") no-repeat center top; background-size: 100% auto; margin-top: 40px; padding: 20px 0 0;}
.wdth-sml{width: 700px; margin: 40px 30px 0 0;}
.cont-icon{width: 700px;}
.prd-txt h4{color:#58595b; font-size: 13px; line-height: 23px; text-align: center; text-transform: uppercase; margin-bottom: 40px;}

/** emailUs **/
.emailBox{background: #efefef; margin: auto; width: auto; min-width: 80%; max-width: 960px; padding: 20px;}
.emailBox > input, .emailBox > textarea{background: #fff; border: 0 none; width: 97%; padding: 10px; font: 13px gothambook; text-transform: capitalize; display: inline-block; margin-bottom: 10px; color: #58595b;}
.gap{border-bottom: 2px solid #f7f7f7; margin: 20px 0; display: block; clear: both;}
.emailBox > label{display: block; margin: 0 0 15px;}
.sendmail, .choosefile{cursor: pointer;}
.choosefile{background: url("../images/choosebtn.jpg") no-repeat top left; float: left; width: 147px; height: 44px;}
.filepath{float: left; margin: 0 0 0 20px; width: 30%;}
.sendmail{background: url("../images/send-mailbtn.jpg") no-repeat top left; float: right; width: 148px; height: 43px;}
.clear:before, .clear:after {content: " "; display: table;}
.clear:after {clear: both;}

/** ShoppingBag **/
.empty-cart{display: inline-block; font: 16px gothamlight; margin: 30px auto; text-transform: uppercase;}
.adddields span.error-count {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    clear: both;
    color: #f00;
    display: none;
    float: left;
    font: 11px gothambook;
    margin: 5px 0 8px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.shoppingbag-login {
    color: #d90d3d;
    font-style: italic;
    text-decoration: underline;
}
.hdnHgt{overflow: hidden !important; height: auto;}
.hdnovr{overflow: hidden;}
.namaskarinfo select {
    border: 1px solid #b4b4b4;
    float: left;
    height: 24px;
    margin: 2px 0 10px;
    padding: 4px 2px;
}

.namaskarinfo button {
    background: url("../images/add-braceletbtn.jpg") no-repeat top left;
    border: 0 none;
    color: #fff;
    font: 10px gothambold;
    height: 26px;
    margin: 2px 0 0 10px;
    text-align: center;
    width: 104px;
    text-transform: uppercase;
}
.removesmogi, .removegiftcart, .removepromotion {
    cursor: pointer;
    float: left;
    font-size: 11px;
    margin: 1px 0 0 4px;
}
.removesmogi a, .removegiftcart a, .removepromotion a{
    color: #d90d3d;
}
.bagerror {
    clear: both;
    color: #d90d3d;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.adddields .giftcardcheckbox {
    height: auto;
    margin: 0 7px 0 0;
    padding: 0;
    width: auto;
}
.adddields p {
    font: 11px gothambook;
    text-transform: uppercase;
}
.zindexH{
	background: transparent;
	z-index: 9999;
	position: absolute;
	left: 0;
	width: 100%;
	height: 200px;
}
ul.checkout-cont li .listadd{display: none;}
ul.checkout-cont li .listadd > li {
    height: auto;
    min-height: inherit;
    padding: 7px 0;
    width: 100%;
}
#checkout-shipping-form table.inputtable {
    width: 100% !important;
}
#checkout-shipping-form table.inputtable tr:first-child td{
    border-bottom: 0 none;
}
#tblcheckoutsteps select#shipping\:country_id{
	width: 100% !important;
	display: block !important;
}
#tblcheckoutsteps select#shipping-address-select{
	display: none !important;
}
#tblcheckoutsteps select#shipping\:region_id {
    float: left;
    width: 100% !important;
}
.showShippingOpt.clear li {
    display: inline-block;
    min-height: inherit;
    padding: 0;
    width: 100%;
}