/** header **/
.right-top-block.r-align > span {
    color: #555;
    float: left;
    font: italic 10px/15px gothambook;
}

.right-top-block.r-align > span span{
    margin-left: 10px;
}

.right-top-block.r-align > span span > img{
    margin-left: 3px;
}

.right-bottom-block{
    float: right;
}

a#rangoli-head{
    background-image: url("../images/rangoli-icon.png");
    background-repeat: no-repeat;
    padding: 1px 0 1px 15px;
}

.rangoliOrng{
    background-position: top left;
    color: #ff8785 !important;
}

.rangoliPrpl{
    color: #8e59b3 !important;
    background-position: left -20px;
}

.rangoliLBlu{
    color: #5fa1db !important;
    background-position: left -41px;
}

.rangoliGrn{
    color: #3c9136 !important;
    background-position: left -62px;
}

.rangoliBlu{
    color: #0168aa !important;
    background-position: left -83px;
}

.rangoliRd{
    color: #e50000 !important;
    background-position: left -104px;
}

.rangoliYlw{
    color: #efca13 !important;
    background-position: left -125px;
}

ul.main-menu2 > li.rangoli:hover{
/*    background: url("../images/rangoli-arrow.png") no-repeat center bottom / 12px 11px transparent;*/
}

/** banner **/
.flexslider{
    border-radius: 0 !important;
}

/** stripe below banner **/
.sign-up-new{
    display: block;
    text-align: left;
    font: 14px/19px gothambook;
    /*margin: 0 0 0 40px;*/
}


.sign-up-new > a {
    background: #c03;
    color: #fff;
    display: inline-block;
    font: 11px gothammedium;
    margin: 0 8px 0 0;
    text-transform: uppercase;
    width: 80px;
    text-align: center;
    height: 28px;
    line-height: 28px;
}

/** footer **/
.logoCont{
    float: left;
    width: 33%;
}

.footer-block {
    width: 67%;
    margin: 27px 0 0;
}

.shiftRight{
    float: right;
}

.footer-block > .site-map {
    /*float: right;*/
    width: 100%;
}

ul.site-map > li{
    min-height: 133px;
    width: 32.5%;
    margin-bottom: 10px;
    max-width: 319px;
}

/** homepage **/
.cubix{
    width: 100%;
    min-width: 1007px;
}

.gridfull{
    width: 100%;
    height: auto;
    display: inline-block;
}

.grid65{
    width: 66.633565044687189672293942403178%;
    float: left;
}

.grid35{
    width: 33.366434955312810327706057596822%;
    float: right;
}

/** misc-class/id **/
.img-responsive{
    width: 100%;
}

.shopnow-btn{
    background: #cc0033;
    font: 11px/19px gothammedium;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    /*padding: 8px 25px;*/
    margin: 37px 0 0;
    display: inline-block;
    width: 113px;
    height: 37px;
    line-height: 37px;
}

.learn-more {
    border-bottom: 1px solid #c03;
    color: #fff;
    font: 11px/19px gothambook;
    margin: 30px 0 0;
    padding: 0 0 2px;
}

.learn-more:hover{
    color: #fff;
}

.white{
    color: #fff !important;
}

/** homemidcontainer **/
.sliderImg{
    position: relative;
}

.contentSlider{
    text-align: center;
    text-transform: uppercase;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.contentSlider > div{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.contentSlider h2,
.contentSlider h3{
    color: #ae8637 !important;
}

.contentSlider h2{
    border-bottom: 1px solid #ae8637;
    font-family: gothambold;
    font-weight: normal;
    margin: auto auto 2.0549898167006109979633401221996%;
    width: 50%;
    padding-bottom: 1.2219959266802443991853360488798%;
    line-height: normal !important;
}

.contentSlider h3 {
    font-family: AvantGardeGothicMedium;
}

.contentSlider h3 > span {
    display: block;
    font-family: AvantGardeGothicITCW01B;
    padding-top: 5px;
    font-weight: normal;
}

.contentSlider h3 > .aurum {
    font-family: AvantGardeGothicITCW01X;
    display: inline;
}

.contentSlider h2.white, .contentSlider h3.white {
    color: #fff !important;
}

.contentSlider h2.white{
    border-bottom: 1px solid #fff;
}

.compressBox, .multicolorcont, .factorythread, .usamap, .supportnamaskar, .raisingfunds{
    background: url("../images/new-elements/goldbg.png") no-repeat center center #ae8637;
    background-size: 100% 100%;
    width: 100%;
    display: block;
    vertical-align: middle;
    height: 50%;
    position: relative;
}

.multicolorcont{
    background: url("../images/new-elements/mcolorbg.jpg") no-repeat center center transparent;
    background-size: 100% 100%;
}

.factorythread{
    background: url("../images/new-elements/facthread.jpg") no-repeat center center transparent;
    background-size: 100% 100%;
}

.usamap{
    background: url("../images/new-elements/usamap.jpg") no-repeat center center transparent;
    background-size: 100% 100%;
}

.supportnamaskar{
    background: url("../images/new-elements/namaskarband.jpg") no-repeat center center #fff;
    display: block;
    position: relative;
    background-size: 100% 100%;
}

.raisingfunds{
    background: url("../images/new-elements/fundsimg.jpg") no-repeat center center transparent;
    background-size: 100% 100%;
}

.supportnamaskar .learn-more {
    color: #555;
    margin: 0 0 20px;
}

.supportnamaskar .ctext {
        margin: 0;        
        position: absolute;
        bottom: 5.6910569105691056910569105691057%;
        /*height: 70px;*/
}

.ctext{
    font-family:AvantGardeGothicITCW01B;
    color: #fff;
    text-align: center;
    width: 100%;  
    text-transform: uppercase;    
    vertical-align: middle;
    position: absolute;
}

.ctext > span {
    display: block;
}

.iconspartone{
    background: #fff;
    height: 50%;
}

.iconspartone .row {
    display: table;
    height: 50%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.iconspartone .row > span {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 50%;
}

.iconspartone .row > span .iconstxt {
    color: #555;
    display: block;
    font: 11px/15px gothambook;
    margin: 15px auto auto;
    text-transform: uppercase;
}

.iconspartone .row > span .icons {
    margin: auto;
    width: 100px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width : 1440px) {   
    .shopnow-btn{
        margin-top: 30px;
    }

   /* .header {
        padding: 0 54px 0 22px;
    }*/

}

@media only screen and (max-width : 1360px) {
    .shopnow-btn{
        margin-top: 25px;
    }

    .iconspartone .row img {
        width: 40%;
    }

    .iconspartone .row .iconstxt {
        width: auto;
    }
}
/*
@media only screen and (max-width : 1150px) {
    ul.new-arrivals li:nth-child(5){
        display: none;
    }
}*/

   /* .header {
        padding: 0 45px 0 18px;
    }*/

@media only screen and (max-width : 1200px) {
    
    #show5.new-arrivals{
        display: block;
    }
    .logoCont{display: none;}
    .footer-block {
        display: inline-block;
        width: 88.8%;
        margin: 3px 0 0 11.2%;
        }
}
/*
@media only screen and (max-width: 1041px) {
    .logoCont{
        display: none;
    }
    
    ul.site-map > li{
        width: 32.5%;
    }

    .footer-block {
        display: inline-block;
        width: 88.8%;
        margin: 3px 0 0 11.2%;
    } 

    .footer-block > .site-map {
    }

    .shiftRight{
        float: none;
    }

    .contentSlider.namaskartxt div {
        width: 70% !important;
    }

    .shopnow-btn{
        margin-top: 20px;
    }


    .iconspartone .row img {
        width: 30%;
    }

    .iconspartone .row .iconstxt {
        width: 70%;
    }

    .header {
        padding: 0 40px 0 11px;
    }
}*/

@media only screen and (max-width: 1024px) {
   /* .logoCont{
        display: none;
    }*/
    
    ul.site-map > li{
        width: 32.5%;
    }

    /*.footer-block {
        display: inline-block;
        width: 88.8%;
        margin: 3px 0 0 11.2%;
    } */

    .footer-block > .site-map {
    }

    .shiftRight{
        float: none;
    }

    .contentSlider.namaskartxt div {
        width: 70% !important;
    }

    .shopnow-btn{
        margin-top: 20px;
    }


   /* .iconspartone .row img {
        width: 30%;
    }
*/
    .iconspartone .row .iconstxt {
        width: 70%;
    }

    /*.header {
        padding: 0 40px 0 11px;

    }*/


    #show4.new-arrivals{
        display: block;
    }

    #show5.new-arrivals{
        display: none;
    }

    ul#show4.new-arrivals li{
        width: 22%;
    }
    .bx-wrapper .bx-controls-direction a{width: 21px !important; height: 23px !important; background-size: 100% 100%;}
}

/** slider **/
.bx-wrapper {
    position: relative;
    margin: auto;
    padding: 0;
    *zoom: 1;
}

.gridslider1 li, .gridslider2 li{
    width: 100%;
}


.bx-wrapper img {
    max-width: 100%;
    display: block;
}

.bx-controls {
    bottom: 15px;
    height: 100%;
    left: 1%;
    right: 1%;
}

.bx-controls-auto{
    display: none;
}

.bx-wrapper .bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    /*background: url(../images/loader.gif) center center no-repeat #fff;*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/new-elements/prev.png) no-repeat top left;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/new-elements/next.png) no-repeat top left;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    outline: 0;
    width: 29px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

.bx-wrapper .bx-pager {}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #c03;
}

.bx-pager-item{
    float: none;
    height: auto;
    margin: 0 3px;
    width: auto;
}

.bx-pager-item:last-child {
    float: none;
}

.bx-controls-direction {
    position: absolute;
    top: 50%;
    width: 100%;
}

/** selfClear **/
.overridefix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.overridefix {
    display: inline-block;
}
 
html[xmlns] .overridefix {
    display: block;
}
 
* html .overridefix {
    height: 1%;
}

/** NewGrid **/
.gridProdCubix {
    margin: 29px auto auto;
    display: inline-block;
    width: 100%;
}

.gridProdCubix .leftnav {
    border-top: 1px solid #ccc;
    position: inherit;
    width: 150px;
    margin: 0 0 0 40px;
}

.gridProdCubix .leftnav ul.ctglink{
    width: 100%;
    padding: 4px 0 0;
}

.gridProdCubix .leftnav .ctglink ul.subnav a {
    font-family: gothambook;
}

.gridWrap {
    margin: 0 40px 0 235px;
    /*margin: 0 0 0 195px;*/
    width: auto;
}

.product-grid .gridWrap h4{
    background: none;
    border-top: 1px solid #a6a6a6;
    margin: 0 0 30px;
    padding: 4px 0 0;
    font: 11px/20px gothambold;
    text-align: left;
}

.gridProdCubix .leftnav .ctglink li.sub-head > a, 
.gridProdCubix .leftnav .ctglink li a.bld{
    font-family: gothambold;
    color: #555;
}

.gridWrap .productCont{
    min-height: 450px;
    width: 238px;
}

.productCont .prod-img{
    height: 340px;
}

.chat-status{
    font-style: italic;
}

.contentSlider.namaskartxt div {
    margin: auto;
    text-align: center;
    width: 80%;
}

ul.tr-menu > li.free-shipping {
    display: inline-block;
    font: italic 10px gothambook;
    margin: 0 35px 0 0;
}

.free-shipping > span {
    padding: 2px 0 0;
}

.free-shipping > span span {
    margin: 0 0 0 10px;
}

.free-shipping img {
    margin: -2px 0 0 1px;
}

.ctglink li.sub-head {
    border-top: 1px solid #a6a6a6;
    margin: 30px 0 0;
    padding: 4px 0 0;
}

.ctglink li.sub-head:nth-child(4) {
    border-color: #ccc;
    margin-top: 50px;
}

/** newSharePopup **/
.signinDialog .ui-icon-closethick{
    background: url("../images/new-elements/close-sharepopup.png") no-repeat center bottom;
    background-size: contain;
    height: 49px;
    position: relative;
    right: -12px;
    top: -12px;
    width: 55px;
}

#signing_popup input {
    border: 0 none;
    font: 12px/16px gothambook;
}

.signinDialog{
    font: 14px/19px gothambold;
}

.signinDialog #signing_popup{
    padding: 0 0 30px;
}

.signinDialog .sign-up-block{
    background: none;
    border-right: 1px solid #c6c6c6;
}

.signinDialog .ui-dialog-titlebar {
    height: 35px;
    padding: 0;
    position: relative;
}

.signinDialog .sign-up-block, 
.signinDialog .sign-in-block {
    padding: 0 29px;
    width: 316px;
}

.signinDialog .form-heading {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 30px;
}

.signinDialog.ui-corner-all, 
.signinDialog .ui-corner-bottom, 
.signinDialog .ui-corner-right, 
.signinDialog .ui-corner-left, 
.signinDialog .ui-corner-top,
.signinDialog .ui-corner-br,
.signinDialog .ui-corner-bl,
.signinDialog .ui-corner-tr,
.signinDialog .ui-corner-tl{
    border-radius: 0 0 0 0;
}

.signinDialog #sign-up-form table input, 
.signinDialog #sign-in-form table input{
    padding: 10px;
}

.signinDialog #sign-in-form a.forgot-link {
    border-bottom: 1px solid #c03;
    color: #555;
    display: inline-block;
    font-family: gothambook;
    font-size: 11px;
    margin: 12px 0 20px;
    padding: 0 0 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.signinDialog #sign-up-form table td, 
.signinDialog #sign-in-form table td{
    padding-bottom: 10px;
}

.intouchCheckbox input[type="checkbox"] {
    display: none;
}
.intouchCheckbox input[type="checkbox"]+label {    
    background: url("../images/new-elements/checkbox.jpg") no-repeat top left;
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin: 2px 0 10px;
    padding: 10px 0 10px 45px;
    width: auto;
}
.intouchCheckbox input[type="checkbox"]:checked + label {
    background: url("../images/new-elements/checkbox.jpg") no-repeat left -32px;
}

.signinDialog .err-msg {
    color: #d90d3d;
    font-family: gothambook;
    font-size: 11px !important;
}

.sharingDialog{
    width: 376px !important;
    background: #f3f3f5 !important;
    color: #555 !important;
}

.smogi-love-msg > span {
    display: block;
    font-family: gothambook;
    margin: 4px 0 0;
}

#sign-up-form table td, #sign-in-form table td, #invite-friend-form table td {
    padding-bottom: 10px !important;
}

#sign-up-form table input, #sign-in-form table input, #invite-friend-form table input {
    border: 0 none !important;
    font: 12px gothambook !important;
    padding: 10px !important;
}

.smogi-love-msg {
    font: 14px/19px gothambold !important;
    margin-bottom: 40px !important;
}

@media only screen and (min-width : 1600px) {
   #productdetails .fitDetail .video-box .tble table {
        display: block;
        margin: 17px 0 0 !important;
    } 
   #productdetails .fitDetail .tble table {
        display: none;
    } 
    .video-box{
        width: 45%;
    }
}

@media only screen and (max-width : 1599px) {
   #productdetails .fitDetail .video-box .tble table {
        display: none;
    } 
   #productdetails .fitDetail .tble table {
        display: block;
    } 
    .video-box{
        width: auto;
    }
}

.wdthauto{
    /*width: auto !important;*/
    background: none;
}

.logoCont img {
    margin-left: 0;
}

.contact-summary div.chat-status {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.flexslider{
    min-height: 530px;
}

@media only screen and (max-width: 1399px){
    #show5.new-arrivals {
    display: none;
    }
}
@media only screen and (min-width : 1400px) {
    #show4.new-arrivals{
        display: none;
    }
    #show5.new-arrivals{
        display: block;
    }
}


ul.main-menu > li.rangoli:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}