<?xml version="1.0"?>
<config>

    <!-- ******************* modules section ******************** -->

    <modules>
        <Ysindia_Mod>
            <version>0.1.0</version>
        </Ysindia_Mod>
    </modules>

    <!-- ******************* global section ******************** -->

    <!--<global>
        <models>
            <tax>
                <rewrite>
                    <sales_total_quote_subtotal>Ysindia_Mod_Model_Newyork</sales_total_quote_subtotal>
                </rewrite>
            </tax>
        </models>
    </global>-->

    <frontend>
        <routers>
            <mod>
                <use>standard</use>
                <args>
                    <module>Ysindia_Mod</module>
                    <frontName>ys</frontName>
                </args>
            </mod>
        </routers>
    </frontend>
    <!-- ******************* admin section ******************** -->

</config>