.explore_nav {
	width:80%; 
	margin:auto; 
	position:absolute; 
	bottom:70px; 
	left:10%;
	}
.explore_nav td {
	text-align:center;
	border-right:1px solid #666666;
	height:5px;
	cursor:pointer;
}

.explore_nav td:first-child {
	border-left:1px solid #666666;
	width:25%;
}

.explore_nav {
	background:url('../images/homepage/explore_nav_state.png') repeat-x center;
}

.explore_nav_current{
	background:url('../images/homepage/explore_nav_hover.png') repeat-x center;
}
#explore .bx-wrapper{padding:100px 0; background:url(../images/homepage/car_bg.png) 52% 50% no-repeat; background-size:contain; max-width:1600px; margin:0 auto; position:relative;}
#explore #slider .carousel-img{position:relative;}
#explore #slider .carousel-img img.bximg{height:100%; width:auto;}
#explore #slider .carousel-desc {
  bottom: 0px;
  padding-bottom:50px;
  left: 65%;
  position: absolute;
  right: 50px;
  text-align: center;
}
#explore #slider .carousel-desc img{max-height:200px; max-width:100%;}

.bx-controls {
  background: none repeat scroll 0 0 #666666;
  bottom: 65px;
  height: 1px;
  left: 10%;
  position: absolute;
  right: 10%;
}
.bx-pager{border-left:1px solid #666; height:5px; display:block;  margin-top:-2px;}
.bx-pager-item {
  display: block;
  float: left;
  height: 5px;
  width: 25%;
}
.bx-pager-item:last-child{float:right;}

.bx-pager-item a{
  background: none;
  display: block;
  border-right:1px solid #666;
  overflow:hidden;
  padding:2px;
  height: 1px;
}
.bx-pager-item a.active{
  background: none repeat scroll 0 0 #666666;
}
#explore #slider .carousel-desc button.button{
 width:138px; position:absolute; left:50%; margin-left:-69px; bottom:0;
}
.banner-txt{position:absolute; top:10%; left:15%; text-align:center; white-space:nowrap; font-family:ITCAvantGardeProBk; color:#fff; font-size:17px; line-height:1.1; text-transform:uppercase;}
.banner-txt span{display:block; font-size:34px;}
.banner-txt span strong{font-weight:normal; font-family:ITCAvantGardeProBd;}