.explore_nav {
	width:80%; 
	margin:auto; 
	position:absolute; 
	bottom:70px; 
	left:10%;
	}
.explore_nav td {
	text-align:center;
	border-right:1px solid #666666;
	height:5px;
	cursor:pointer;
}

.explore_nav td:first-child {
	border-left:1px solid #666666;
	width:25%;
}

.explore_nav {
	background:url('../images/homepage/explore_nav_state.png') repeat-x center;
}

.explore_nav_current{
	background:url('../images/homepage/explore_nav_hover.png') repeat-x center;
}
#explore .bx-wrapper{padding:100px 0; background:url(../images/homepage/car_bg.png) 52% 50% no-repeat; background-size:contain;}
#explore #slider .carousel-img{position:relative;}
#explore #slider .carousel-img img.bximg{height:100%; width:auto;}
#explore #slider .carousel-desc{position:absolute; bottom:50px; left:65%;}
#explore #slider .carousel-desc img{margin-bottom:40px;}
