.custombtn
{
    border : none;
    outline : none;
}

.loginbtn
{
    background-image : url('../images/customer/login_new_off.png');
    background-repeat: no-repeat;
    background-position: center;
    width : 119px;
    height : 29px;
    margin-right : 25px;
}

.createaccountbtn
{
    background-image : url('../images/customer/create_account_button_off.png');
    background-repeat: no-repeat;
    background-position: center;
    width : 185px;
    height : 29px;
}

.sectionheader
{
    font-family: gothambook;
    font-size : 18px;
    margin-bottom : 26px;
    text-transform: uppercase;
}

.myaccountdashboard .sectionheader
{
    margin-bottom : 14px;
}

.my-account .sectionheader
{
    margin-bottom : 14px;
}

.logintable .sectionheader {
    margin-bottom: 0px;
}

.fbloginbtn
{
    background-image : url('../images/customer/facebook_button_off.png');
    background-repeat: no-repeat;
    background-position: center;
    width : 202px;
    height : 29px;
    margin-top : 35px;
}

.twloginbtn
{
    background-image : url('../images/customer/twitter_off.png');
    background-repeat: no-repeat;
    background-position: center;
    width : 203px;
    height : 29px;
    margin-top : 33px;
}

.logintable
{
    margin-left : auto;
    margin-right : auto;
}

.logintable p
{
    margin : 0;
    font-size:11px;
    font-family:gothamlight;
}

a.forgot-link
{
    font-family:HelvLightRegular;
    font-size:11px;
    text-decoration: underline;
    color : #9B9B9B;
}

a.forgot-link:hover
{
    color : #D90D3D;
}

#sociallogin_button
{
    display : none;
}

.loginerrormsg
{
    min-height : 20px;
}

.submitbtn
{
    background-image : url('../images/customer/submit_off.png');
    background-repeat: no-repeat;
    background-position: center;
    width : 125px;
    height : 25px;
}

.myheader
{
    margin-bottom : 49px;
}

.backlink
{
    position : absolute;
    top : 70px;
    left : 20px;
}

.backlink a {
	font-family:gothamlight;
	font-size:11px;
	}
#register-form table.inputtable,#register-form div.errormsg 
{
    width : 533px;
}
#register-form input[type='submit']
{
    margin-top : 25px;
}

#login-form table.inputtable
{
    width : 236px;
}

#login-form table.buttonholder
{
    
}

#forgot-password-form table.inputtable
{
    width : 533px;
}

#forgot-password-form .submitbtn
{
    margin-top : 18px;
}

#forgot-password-form .sectionheader
{
    margin-bottom : 0px;
}
#forgot-password-form p
{
    margin-bottom : 25px;
    font-family:gothamlight;
    font-size:11px;
}
.accountbg
{
    background-image : url('../images/customer/myaccount_bg.png');
    background-size : cover;
    background-position: center top;
    background-repeat: repeat-y;
}
.subsectionheader
{
    
    font-family:gothamlight;
    font-size : 13px;
    margin-bottom : 15px;
    
}
.myaccountdashboard
{
    width : 625px;
    margin-left : auto;
    margin-right : auto;
}
.myaccountdashboard td.tdsectionheaderlink
{
    padding-top : 6px;
}

.myaccountdashboard td.tdsubsectionheaderlink
{
    padding-top : 2px;
}

.myaccountdashboard td.column2cell
{
    padding-left : 80px;
}

.myaccountdashboard tr.customerinfo>td
{
    padding-top : 20px;
    width: 300px;
}

.myaccountdashboard div.addressbookheader
{
    margin-top : 45px;
}

.myaccountdashboard a
{
    color : gray;
    text-decoration: underline;
    font-family: HelvLightRegular;
    font-size: 11px;
    letter-spacing : 0.4pt;
    padding-left : 15px;
}

.myaccountdashboard a:hover
{
    color : #D90D3D;
}
.savebtn
{
    background-image : url('../images/customer/save_button_off.png');
    width : 89px;
    height : 34px;
}
#edit-accountinfo table.inputtable
{
    width : 533px;
}
#passwordchangeoptions
{
    display : none;
}
#changepasswordoptionholder
{
    font-family:helveticaoblique;
    font-size:11px;
    color:#343434;
    margin-bottom : 23px;
}
input.checkbox
{
    margin-right : 5px;
}
#address-form table.inputtable
{
    width : 533px;
}
#address-form table.twocolumn533 table.inputtable, #checkout-shipping-form table.twocolumn533 table.inputtable
{
    width : 237px;
}
#region_id
{
    width : 115px;
}
#checkout-login-form table.inputtable, #checkout-login-form table.buttonholder
{
    width : 236px;
}
#checkout-login-form .loginbtn
{
    background-image : url('../images/checkout/login_off.png');
    width : 105px;
    height : 29px;
    margin : 0;
}
#checkout-login-form a.forgot-link
{
    font-size : 10px;
}
#checkout-guest-continue, #checkout-shipping-continue, #checkout-shippingmethod-continue, #checkout-payment-continue
{
    background-image : url('../images/checkout/continue_off.png');
    width : 147px;
    height : 29px;
    margin-top : 40px;
}
#checkout-shipping-form table.inputtable
{
    width : 533px;
}
#shipping\:country_id
{
    width : 155px;
}
#shipping\:region_id
{
    width : 116px;
}
div.shippingfootnote span.shippingnote
{
    font-weight : bold;
}


.customeraddress td  {
	font-family:gothamlight;
	font-size:13px;
}