div.mycategory-products div.item:hover td.productname
{
    color : #666;
}
div.mycategory-products div.item:hover td.productprice span.price
{
    display : inline;
}
div.mylayerednavigation div.searchitems div table tr:hover td.add img
{
    display : inline;
}
div.mylayerednavigation div.searchitems div:hover
{
    background-color : #EFEEED;
}
/*div.mycategory-products div.item td.productprice span.price
{
    display : none;
}*/
div.mycategory-products div.item td.productprice span.price
{
    display : block;
}
.productprice.IN span.price{color:rgba(255, 0, 0, 0.99)!important;}
.productcost.IN{color:rgba(255, 0, 0, 0.99)!important;}