.productdesignfeatures
{
    width : 95%;
    margin-top : 30px;
    margin-bottom : 50px;
}
.productdesignfeatures td img
{
    width : 100%;
    height : 100%;
}
.fullscreentable td .productdesignfeatures td
{
    padding-left : 20px;
    vertical-align: top;
}
.productdesignfeatures td div
{
    overflow : hidden;
    width : 100%;
}
.designfeaturesheadimage
{
    background-image : url('../images/catalog/product/designfeatures/design_features.png');
    background-repeat : no-repeat;
    width : 143px;
    height: 143px;
    position : absolute;
    top : 0;
    left : 40%;   
    z-index: 2;
}
table.productdesignfeatures div[size]
{
    display : block;
    position : relative;
}
table.productdesignfeatures div.caption
{
    background-color : black;
    position : absolute;
    opacity : 0.6;
    filter : alpha(opacity=60);
    cursor : pointer;
}
table.productdesignfeatures div.caption div
{
    padding : 20px;
    color : #fff;
    font-weight : bold;
    width : auto;
}