.productdesignfeatures
{
    width : 95%;
    margin-top : 70px;
    margin-bottom : 100px;
}
.productdesignfeatures td img
{
    width : 100%;
    height : auto !important;
}
.fullscreentable td .productdesignfeatures td
{
    padding : 0.7%;
    vertical-align: top;
}
.productdesignfeatures td div
{
    overflow : hidden;
    width : 100%;
}
.designfeaturesheadimage
{
    background-image : url('../images/catalog/product/designfeatures/design_features.png');
    background-repeat : no-repeat;
    width : 143px;
    height: 143px;
    position : absolute;
    top : 0;
    left : 40%;
    z-index: 2;
}
.designfeaturesheadimage.landscapefeature
{
    left : 46.65%;
}
.designfeaturesheadimage.potraitfeature
{
    left : 31%;
}
table.productdesignfeatures div[size]
{
    display : block;
    position : relative;
}
table.productdesignfeatures div.caption
{
    background-color : black;
    position : absolute;
    opacity : 0.6;
    filter : alpha(opacity=60);
    cursor : pointer;
}
table.productdesignfeatures div.caption div
{
    padding : 20px;
    color : #fff;
    font-weight : bold;
    width : auto;
    text-align: center;
}

table.productdetailtable
{
    width : 100%;
}

table.productdetailtable>tbody>tr>td:first-child
{
    padding-left : 10px;
    width : 249px;
    max-width: 249px;
}

table.productdetailtable div.breadcrumb
{
    color: #666666;
    font-size: 10px;
    letter-spacing: 0.4pt;
    margin-bottom: 10px;
    text-transform: uppercase;
}

table.productdetailtable div.productname
{
    color: #000000;
    font-family:ITCAvantGardeProBk;
    font-size: 22px;
    letter-spacing: 0.4pt;
    line-height: 1.2em;
}

table.productdetailtable.zoomproductdetail div.productname
{
    margin-top : 10px;
}

table.productdetailtable div.productcost
{
    color: #D90D3D;
    font-family:ITCAvantGardeProBk;
    font-size: 22px;
    letter-spacing: 0.4pt;
}

table.productdetailtable div.shortdesc
{
    color: #676767;
    font-family:gothambook;
    font-size: 11px;
    margin-top : 2px;
}

table.productdetailtable table.selectedcolor
{
    margin-top : 14px;   
}

table.productdetailtable table.selectedcolor td:first-child
{
    padding-right : 4px;
    font-family:gothambook;
    color : #000;
    font-size : 11px;
    letter-spacing : 0.6pt;
}

table.productdetailtable table.selectedcolor td.selectedcolortext
{
    color : #999;
    font-family:gothambook;
    font-size : 11px;
    letter-spacing : 0.4pt;
}

table.productdetailtable div#colorcontainer
{
    margin-top : 5px;   
}

table.productdetailtable div#colorcontainer div
{
    float : left;
    margin-right : 6px;
}

table.productdetailtable div#colorcontainer div table
{
    width : 40px;
    cursor : pointer;
}

table.productdetailtable div#colorcontainer div table tr:first-child td
{
    height : 10px;
}

table.productdetailtable div#colorcontainer div table td div
{
    height : 10px;
    overflow : hidden;
}

table.productdetailtable div#colorcontainer div table td.tdselectedcolor
{
    height : 4px;
    border-bottom : 1px solid black;
}

table.productdetailtable table.selectedsize
{
    margin-top : 16px;   
}

table.productdetailtable table.selectedsize td:first-child
{
    padding-right : 12px;
    color : #000;
    font-family:gothambook;
    font-size : 11px;
    letter-spacing : 0.6pt;
}

table.productdetailtable table.selectedsize td.sizechartlink div 
{
    margin-top : -2px;
}

table.productdetailtable table.selectedsize td.sizechartlink a
{
    color: #D90D3D;
    font-family:HelvLightRegular;
    font-size: 10px;
    letter-spacing: 0.2pt;
    text-decoration: underline;
}

table.productdetailtable div#sizecontainer
{
}

table.productdetailtable div#sizecontainer table td
{
    padding-right : 20px;
}

table.productdetailtable div#sizecontainer table td.disabled
{
    display : none;
}

table.productdetailtable div#sizecontainer table td:last-child
{
    padding-right : 0px;
}

table.productdetailtable div#sizecontainer table td div
{
    padding-bottom : 4px;
    cursor : pointer;
    border-bottom : 1px solid transparent;
}

table.productdetailtable div#sizecontainer table td div.dvselectedsize
{
    border-bottom-color: black;
}

/*
table.productdetailtable div#sizecontainer table td.disabled
{
    display : none;
}

*/

table.productdetailtable div#sizecontainer table td.disabled div
{
    opacity:0.3;
    filter:alpha(opacity=30);
    cursor : default;
}
    
table.productdetailtable table.fittable
{
    margin-top : 8px;
}

table.productdetailtable table.fittable td:first-child div.hanger
{
    background-image : url('../images/catalog/product/fit.png');
    background-repeat: no-repeat;
    width : 19px;
    height : 14px;
}

table.productdetailtable table.fittable td:first-child
{
    padding-right : 7px;
}

table.productdetailtable table.fittable td.howdoesitfitlink a
{
    color: #D90D3D;
    font-size: 10px;
    letter-spacing: 0.2pt;
    text-decoration: underline;
}

table.productdetailtable table.fittable td.howdoesitfitlink div
{
    margin-top : -4px;
}

table.productdetailtable div.qty
{
    color: #000000;
    font-family:gothambook;
    font-size: 11px;
    letter-spacing: 0.6pt;
    margin-top : 13px;
}

table.productdetailtable div.sizeselector
{
    margin-top : 10px;
}

table.productdetailtable div.divider
{
    margin-top : 17px;
    height: 1px;
    width : 100%;
}

table.productdetailtable table.smogibucks
{
    margin-top : 17px;
}

table.productdetailtable table.smogibucks td div.smogibuckcount
{
    background-image : url('../images/catalog/product/smogibuckcount_bg.png');
    background-repeat: no-repeat;
    width : 32px;
    height : 32px;   
    margin-right : 8px;
}

table.productdetailtable table.smogibucks td div.smogibuckcount table td
{
    vertical-align : middle;
    text-align : center;
    width : 32px;
    height : 32px;
    color : #FFF;
    font-size : 16px;
    letter-spacing: 0.2pt;
}

table.productdetailtable table.smogibucks td.earnsmogibuckstext
{
    font-family:gothamlight;
    font-size : 11px;
    letter-spacing : 0.4pt;
    color : #333;
}

table.productdetailtable div.addtobag
{
    width : 239px;
    height : 43px;
    background-image : url('../images/catalog/product/add_to_bag_off.png');
    background-repeat : no-repeat;
    margin-top : 15px;
    cursor : pointer;
}

table.productdetailtable div.preorderitem
{
    width : 239px;
    height : 43px;
    background-image : url('../images/catalog/product/pre_order_this_item.png');
    background-repeat : no-repeat;
    margin-top : 20px;
    cursor : pointer;
    display : none;
}

table.productdetailtable div.addtowishlist, table.productdetailtable div.addtowishlist a, table.productdetailtable div.addtowishlist a:hover, table.productdetailtable div.addtowishlist a:visited, #productdetailpopup div.addtowishlist, #productdetailpopup div.addtowishlist a, #productdetailpopup div.addtowishlist a:hover, #productdetailpopup div.addtowishlist a:visited 
{
    color : black;
    font-family:gothamlight;    
    font-size : 10px;
    letter-spacing: 0.6pt;
    margin-top : 25px;
    cursor : pointer;
}

table.productdetailtable div.addtowishlist , #productdetailpopup div.addtowishlist 
{
    width : 119px;
    font-size : 10px;
    letter-spacing: 0.6pt;
    margin-top : 10px;
    cursor : pointer;
}

#productdetailpopup div.addtowishlist
{
}
a.addtowishlist{
    color : black;
    margin-top : 10px;
cursor: pointer;
font-family: gothamlight;
font-size: 10px;
letter-spacing: 0.6pt;
	float:left;
    padding-bottom : 4px;
    border-bottom : 1px solid #D90D3D;}
#productdetailpopup div.viewfulldetails, #productdetailpopup div.viewfulldetails a, #productdetailpopup div.viewfulldetails a:hover, #productdetailpopup div.viewfulldetails a:visited 
{
    color : black;
    font-family:gothamlight;    
    font-size : 10px;
    letter-spacing: 0.6pt;
    margin-top : 25px;
    cursor : pointer;
}

#productdetailpopup div.viewfulldetails 
{
    color : black;
    padding-bottom : 4px;
    border-bottom : 1px solid #D90D3D;
    width : 156px;
    font-size : 10px;
    letter-spacing: 0.6pt;
    margin-top : 5px;
    cursor : pointer;
    float : right;
}

table.productdetailtable table.productimages
{
    margin-left : auto;
    margin-right : auto;
}

table.productdetailtable table.smallimages
{
    margin-left : auto;
    margin-right : auto;
}

table.productdetailtable table.productimages table.smallimages td
{
    padding-right : 10px;
    width : 75px;
    height : 75px;
    vertical-align : bottom;
    width : auto;
}

table.productdetailtable table.productimages div.bigimage
{
    padding-bottom: 20px;
}

table.productdetailtable table.productimages div.bigimage img
{
    max-width : 100%;
    max-height : 100%;
}

table.productdetailtable table.productimages td
{
    text-align : center;
    width : 700px;
    max-width : 700px;
}

table.productdetailtable table.productimages td.tdbigimagecontainer
{
    background-image: url('../images/catalog/product/big_line.png');
    background-repeat : no-repeat;
    background-position: bottom;
    padding-bottom : 20px;
}

table.productimagecontainer
{
    width : 100%;
}

table.productimagecontainer table.tdbigimagecontainer
{
    margin-left : auto;
    margin-right : auto;
}

table.productimagecontainer table.tdbigimagecontainer:hover
{
    color : red;
    cursor : url('../images/catalog/product/cursor_zoom.png');
}

table.productimagecontainer table.tdbigimagecontainer td
{
    vertical-align: bottom;
    text-align: center;
    width : 700px;
    min-width : 700px;
    max-width : 700px;
    height : 600px;
}

table.productimagecontainer td.tddivider
{
    padding-top : 15px;
    text-align : center;
}

table.productimagecontainer td.tddivider div
{
    height : 1px;
}

table.productimagecontainer table.smallimagecontiner
{
    margin-top : 5px;
    margin-left : auto;
    margin-right : auto;
}

table.productimagecontainer table.smallimagecontiner td
{
    width : 75px;
    height : 75px;
    text-align: center;
    vertical-align: bottom;
    padding-right : 10px;
    cursor : pointer;
}

table.productimagecontainer table.smallimagecontiner td.selectedimage, td#tdpopupproductsmallimages td.selectedimage, table.zoomsmallimagecontainer td.selectedimage, div#zoompopup div#zoomoptions img.disabled
{
    opacity:0.3;
    filter:alpha(opacity=30);
    cursor : default;
}

table.productimagecontainer table.smallimagecontiner td:last-child
{
    padding-right : 0px;
}

div.absoluteproductoptions
{
    position : absolute;
    left : 10px;
    top : 10px;
}

div.producterrorcontainer
{
    height : 15px;
}

div.producterrorcontainer div.errormsg
{
    color : #d90d3d;
    letter-spacing : 0.4pt;
    font-size : 10px;
    text-align : right;
    display : none;
}

#productdetailpopup div.producterrorcontainer div.errormsg
{
    padding-right : 0;
}

#productdetailpopup .absoluteproductoptions
{
    left : 23px;
    top : 14px;
}

table.productdetailpopupbottomlinks
{
    width : 100%;
}

table.productdetailpopupbottomlinks td:first-child
{
    text-align: left;
    padding-left : 30px;
}

table.productdetailpopupbottomlinks td.tdviewfulldetails
{
    padding-right : 49px;
}

table.productdetailspopup
{
    width : 100%;
    margin-top : 21px;
}

table.productdetailspopup td.popupproductdetail
{
    padding-left : 19px;
    width : 250px;
    max-width : 250px;
    min-width : 250px;
}

div.productoptions
{
    width : 250px;
}

td#tdpopupproductsmallimages td
{
    width : 75px;
    min-width : 75px;
    height : 75px;
    min-height : 75px;
    vertical-align: bottom;
    text-align: center;
    padding-top : 20px;
    cursor : pointer;
}

td#tdpopupproductsmallimages
{
    padding-right : 35px;
    width : 75px;
    max-width : 75px;
    min-width : 75px;
}

td#tdpopupproductbigimage
{
    padding-top : 3px;
    text-align : center;
}

img#closelightbox
{
    position : absolute;
    top : 3px;
    right : 5px;
    cursor : pointer;
    z-index : 3;
}
table.productdesignfeatures
{
    width : 100%;
    margin-left : auto;
    margin-right : auto;
}
table.productdesignfeatures tr td
{
    padding-left : 20px;
}
/*---------Remove these for design features to work------------*/
/*
table.productdesignfeatures tr td div[size] img
{
    display : none;
}
table.productdesignfeatures tr td div[size] div.caption
{
    display : none;
}
table.productdesignfeatures tr td div[size]
{
    background-color : #666666;
}
*/
/*---------Upto Here------------*/
.smooth_zoom_preloader {
	background-image: url('../images/zoom_assets/preloader.gif');
}	
.smooth_zoom_icons {
	background-image: url('../images/zoom_assets/icons.png');
}
table.productzoomtable
{
    width : 100%;
}
table.productzoomtable td.zoomproductoptions
{
    width : 250px;
    min-width : 250px;
    max-width : 250px;
}
table.zoomsmallimagecontainer
{
    margin-top : 40px;
}
table.zoomsmallimagecontainer td
{
    width : 75px;
    height : 75px;
    vertical-align: bottom;
    padding-top : 20px;
    cursor : pointer;
}
table.zoomsmallimagecontainer td:first-child
{
    padding-top : 0px;
}
img#zoomedimage
{
    display : none;
}
td#zoomedproductimage div.noSel.smooth_zoom_preloader>div
{
    background-color : transparent !important;
}
div#zoompopup div.absoluteproductoptions
{
    z-index: 3;
    background-color : #FFF;
}
div#zoompopup div#zoomoptions
{
    position : absolute;
    right : 9px;
    z-index : 3;
    top : 0;
    width : 29px;
}
div#zoompopup div#zoomoptions img#zoomin
{
    margin-top : 12px;
}
div#zoompopup div#zoomoptions img
{
    cursor : pointer;
}
td#zoomedproductimage div.noSel.smooth_zoom_preloader div.noSel
{
    display : none !important;
}
div#zoompopup
{
    overflow : hidden;
}
div#sizechart
{
    background-color: #D2D2D4;
    left: 10px;
    position: absolute;
    top: 12px;
    z-index: 1;
    display : none;
}
div#sizechart .light-conent-box{
    background-color: #F2F2F2;
    border-bottom: 1px solid #939393;
    padding: 26px;
}
div#howdoesitfitbox
{
    background-color: #D2D2D4;
    height: 380px;
    left: 10px;
    position: absolute;
    top: 12px;
    width: 375px;
    z-index: 1;
    display : none;
}
div#howdoesitfitbox div#howdoesitfitboxinner
{
    background-color: #F2F2F2;
    border-bottom: 1px solid #939393;
    padding: 26px;
    height: 320px;
    margin: 4px;
    width: 315px;
    overflow : none;
}
div#howdoesitfitbox div#howdoesitfitboxinner p
{
    margin-top : 2px;
}
div#howdoesitfitbox div#howdoesitfitboxinner p span.anchor
{
    font-weight : bold;
}
div#howdoesitfitbox div#howdoesitfitboxinner p:first-child
{
    margin-top : 0;
}
img#closesmlight
{
    position : absolute;
    top : -10px;
    right : -10px;
    cursor : pointer;
}