td.searchsidenavigation
{
    width : 180px;
    padding-left : 20px;
    vertical-align: top;
    color : black;
}
td.searchsidenavigation div
{
    text-align : left;
	position:relative; top:38px;
    text-transform: uppercase;
}
div.searchresultcount
{
    font-family:gothambook;
    font-size : 15px;
    letter-spacing : 0.6pt;
    text-transform: uppercase;
    margin-top : 24px;
    margin-bottom : 20px;
}
td.searchsidenavigation div.subheader
{
    font-family:gothambold;
    font-size : 9px;
    letter-spacing : 0.6pt;
    margin-bottom : 11px;
    margin-top : 40px;
}
td.searchsidenavigation div.subheader:first-child
{
    margin-top : 0px;
}
td.searchsidenavigation a{color:#4c4c4c; display:block;}
td.searchsidenavigation a div:hover{background:#EFEEED;}

td.searchsidenavigation div
{
    font-family:gothamlight;
    font-size : 9px;
    letter-spacing : 0.6pt;
    margin-bottom : 3px;
}
div.searchbutton
{
    background-image : url('../images/catalog/product/search_off.png');
    background-position: center;
    background-repeat: no-repeat;
    width : 93px;
    height: 29px;
}