<?xml version="1.0"?>
<config>
	<modules>
		<Ysindia_Customer>
			<version>0.1.0</version>
		</Ysindia_Customer>
	</modules>
	<frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<Ysindia_Customer before="Mage_Customer_AccountController">Ysindia_Customer</Ysindia_Customer>
					</modules>
				</args>
			</customer>
		</routers>
	</frontend>
	<global>
		<models>
			<Ysindia_Customer>
				<class>Ysindia_Customer_Model</class>
			</Ysindia_Customer>
		</models>
<!--
		<events>
			<checkout_cart_save_before>
				<observers>
					<ysindia_customer_model_observer>
						<type>singleton</type>
						<class>Ysindia_Customer_Model_Observer</class>
						<method>checkGiftSet</method>
					</ysindia_customer_model_observer>
				</observers>
			</checkout_cart_save_before>
		</events>
-->
		<customer>
			<address>
				<formats>
					<add_mobile translate="title" module="customer">
						<title>One Line Mobile</title>
					</add_mobile>
				</formats>
			</address>
		</customer>


	</global>
	<default>
		<customer>
			<address_templates>
				<add_mobile>{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var city}}, {{var region}} {{var postcode}}, {{var country}}</add_mobile>
			</address_templates>
		</customer>
	</default>

</config>